# Lab | Data Cleaning and Formatting

Objective: Apply Python programming to perform data cleaning and formatting, including identifying and handling with missing values, duplicates, outliers, errors, and using various formatting techniques such as changing data types, renaming columns, and handling string values, to prepare data for analysis.

# Challenge 1: Data Cleaning and Formatting

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

## Exercise 1: Cleaning Column Names

To ensure consistency and ease of use, standardize the column names of the dataframe. Start by taking a first look at the dataframe and identifying any column names that need to be modified. Use appropriate naming conventions and make sure that column names are descriptive and informative.

In [77]:
import numpy as np
import pandas as pd

url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv'

customers = pd.read_csv(url)

customers.columns

Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')

In [78]:
new_columns = {
    "GENDER":"Gender",
    "Customer Lifetime Value":"CLV",
    "Monthly Premium Auto":"Month_Prem_Auto",
    "Number of Open Complaints": "Num_open_complaints",
    "Policy Type":"Policy_type",
    "Vehicle Class":"Vehicle_class",
    "Total Claim Amount":"Total_claim_amount"
}

customers.rename(columns=new_columns, inplace=True)

In [79]:
customers.columns

Index(['Customer', 'ST', 'Gender', 'Education', 'CLV', 'Income',
       'Month_Prem_Auto', 'Num_open_complaints', 'Policy_type',
       'Vehicle_class', 'Total_claim_amount'],
      dtype='object')

## Exercise 2: Cleaning invalid Values

The dataset contains columns with inconsistent and incorrect values that could affect the accuracy of our analysis. Therefore, we need to clean these columns to ensure that they contain only valid data. For example, the gender column contains various inconsistent values such as "F", "M", "Femal", "Male", "female", which need to be standardized.

Note that this exercise will focus only on cleaning inconsistent values and will not involve handling null values (NaN or None).

In [82]:
distinct_values = pd.unique(customers["Gender"])

distinct_values

array([nan, 'F', 'M'], dtype=object)

In [81]:
customers['Gender'].replace({"Femal":"M", "Male":"M","female":"F"},inplace=True)

## Exercise 3: Formatting data types

The data types of many columns in the dataset appear to be incorrect. This could impact the accuracy of our analysis. To ensure accurate analysis, we need to correct the data types of these columns. Please update the data types of the columns as appropriate.

It is important to note that this exercise does not involve handling null values (NaN or None).

In [92]:
customers.dtypes

Customer                object
ST                      object
Gender                  object
Education               object
CLV                    float64
Income                 float64
Month_Prem_Auto        float64
Num_open_complaints     object
Policy_type             object
Vehicle_class           object
Total_claim_amount     float64
dtype: object

In [91]:
customers['Total_claim_amount'] = customers['Total_claim_amount'].astype(float)

In [84]:
customers['CLV'] = customers['CLV'].astype(str)
customers['CLV'] = customers['CLV'].str.rstrip('%').astype(float) / 100.0
customers['CLV'] = pd.to_numeric(customers['CLV']) / 100

## Exercise 4: Dealing with Null values

Identify any columns with null or missing values. Identify how many null values each column has. You can use the isnull() function in pandas to find columns with null values.

Decide on a strategy for handling the null values. There are several options, including:

- Drop the rows or columns with null values
- Fill the null values with a specific value (such as the column mean or median for numerical variables and mode for categorical variables)
- Fill the null values with the previous or next value in the column
- Fill the null values based on a more complex algorithm or model (we haven't studied this yet)

Implement your chosen strategy to handle the null values. You can use the fillna() function in pandas to fill null values or dropna() function to drop null values.

Verify that your strategy has successfully handled the null values. You can use the isnull() function again to check if there are still null values in the dataset.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling null values.

After formatting data types, as a last step, convert all the numeric variables to integers using applymap.

Save the cleaned dataset to a new CSV file.

In [101]:
columns_null = customers.columns[customers.isnull().any()]

columns_null

null_counts = customers[columns_null].isnull().sum()

null_counts

Gender    117
CLV         3
dtype: int64

In [100]:
#First drop all rows with all Null Values
customers.dropna(how='all', inplace=True)

#I will not change any more null values as I cant guess the gender and cant calculate the CLV since i dont have enough data

In [103]:
customers[customers["CLV"].isnull()]

,Customer,ST,Gender,Education,CLV,Income,Month_Prem_Auto,Num_open_complaints,Policy_type,Vehicle_class,Total_claim_amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
78,SP81997,Washington,F,Master,NaN,41275.0,96.0,1/0/00,Personal Auto,Four-Door Car,41.122303
988,GT62080,Washington,M,High School or Below,NaN,55561.0,63.0,1/0/00,Personal Auto,Four-Door Car,227.872071

## Exercise 5: Dealing with duplicates

Use the .duplicated() method to identify any duplicate rows in the dataframe.

Decide on a strategy for handling the duplicates. Options include:
- Dropping all duplicate rows
- Keeping only the first occurrence of each duplicated row
- Keeping only the last occurrence of each duplicated row
- Dropping duplicates based on a subset of columns
- Dropping duplicates based on a specific column

Implement your chosen strategy using the drop_duplicates() function.

Verify that your strategy has successfully handled the duplicates by checking for duplicates again using .duplicated().

Remember to document your process and explain your reasoning for choosing a particular strategy for handling duplicates.

Save the cleaned dataset to a new CSV file.

In [118]:
duplicated_sr = customers.duplicated()

duplicated_counts = duplicated_sr.value_counts()

duplicated_counts

False    1071
dtype: int64

In [119]:
has_duplicates = customers["Customer"].duplicated().any()

has_duplicates

#There aren´t any duplicated rows in the data set

False

# Challenge 2: creating functions on a separate `py` file

Put all the data cleaning and formatting steps into functions, and create a main function that performs all the cleaning and formatting. 

Write these functions in a separate .py file(s). By putting these steps into functions, we can make the code more modular and easier to maintain.

*Hint: autoreload module is a utility module in Python that allows you to automatically reload modules in the current session when changes are made to the source code. This can be useful in situations where you are actively developing code and want to see the effects of changes you make without having to constantly restart the Python interpreter or Jupyter Notebook kernel.*

In [120]:
def clean_data(url):

    customers = pd.read_csv(url)

    new_columns = {
        "GENDER": "Gender",
        "Customer Lifetime Value": "CLV",
        "Monthly Premium Auto": "Month_Prem_Auto",
        "Number of Open Complaints": "Num_open_complaints",
        "Policy Type": "Policy_type",
        "Vehicle Class": "Vehicle_class",
        "Total Claim Amount": "Total_claim_amount"
    }
    customers.rename(columns=new_columns, inplace=True)

    customers['Gender'].replace({"Femal": "F", "Male": "M", "female": "F"}, inplace=True)
    customers['Total_claim_amount'] = customers['Total_claim_amount'].astype(float)
    customers['CLV'] = customers['CLV'].astype(str)
    customers['CLV'] = customers['CLV'].str.rstrip('%').astype(float) / 100.0

    customers.dropna(how='all', inplace=True)

    return customers

# Challenge 3: Analyzing Clean and Formated Data

You have been tasked with analyzing the data to identify potential areas for improving customer retention and profitability. Your goal is to identify customers with a high policy claim amount and a low customer lifetime value.

In Pandas Lab, we only looked at high policy claim amounts because we couldn't look into low customer lifetime values. If we tried to do work with that column, we wouldn't have been able to do it because customer lifetime value wasn't clean and in its proper format. So after cleaning and formatting the data, lets get some more interesting insights!

Instructions:

- Review again the statistics for total claim amount and customer lifetime value to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount and a low customer lifetime value. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount, and clients with a low customer lifetime value to be those in the bottom 25% of the customer lifetime value. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile and a customer lifetime value in the bottom 25th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount and low customer lifetime value data. To do so, select both columns of the dataframe simultaneously and pass it to the .describe() method. This will give you descriptive statistics, such as mean, median, standard deviation, minimum and maximum values for both columns at the same time, allowing you to compare and analyze their characteristics.

In [121]:
customers["CLV"].describe()

count    1068.000000
mean       79.369026
std        64.347841
min        20.043507
25%        40.340800
50%        58.817423
75%        89.628720
max       581.665535
Name: CLV, dtype: float64

In [122]:
customers["Total_claim_amount"].describe()

count    1071.000000
mean      404.986909
std       293.027260
min         0.382107
25%       202.157702
50%       354.729129
75%       532.800000
max      2893.239678
Name: Total_claim_amount, dtype: float64

In [125]:
claim_75 = customers['Total_claim_amount'].quantile(0.75)
clv_25 = customers['CLV'].quantile(0.25)

high_claim = customers[customers['Total_claim_amount'] > claim_75]

low_clv = customers[customers['CLV'] < clv_25]

target_customers = pd.merge(high_claim, low_clv, how='inner')

target_customers.head(10)

,Customer,ST,Gender,Education,CLV,Income,Month_Prem_Auto,Num_open_complaints,Policy_type,Vehicle_class,Total_claim_amount
0,OE15005,Cali,NaN,College,39.452416,28855.0,101.0,1/0/00,Personal Auto,SUV,647.442031
1,TZ98966,Nevada,NaN,Bachelor,24.501910,0.0,73.0,1/3/00,Corporate Auto,Four-Door Car,554.376763
2,US89481,California,NaN,Bachelor,39.463721,0.0,111.0,1/0/00,Personal Auto,Four-Door Car,799.200000
3,CM61827,Oregon,NaN,Bachelor,30.900341,0.0,90.0,1/0/00,Personal Auto,Two-Door Car,648.000000
4,IL19217,California,NaN,Bachelor,39.390064,60021.0,99.0,1/0/00,Personal Auto,Four-Door Car,882.871945
5,FG63582,Oregon,NaN,Bachelor,33.397649,0.0,94.0,1/0/00,Personal Auto,Two-Door Car,863.327324
6,MS41162,AZ,NaN,High School or Below,40.229635,0.0,117.0,1/0/00,Personal Auto,SUV,975.107098
7,DS81757,Oregon,M,College,24.701212,0.0,74.0,1/0/00,Personal Auto,Two-Door Car,721.242206
8,KA61892,Arizona,M,College,38.736470,28142.0,105.0,1/0/00,Personal Auto,Sports Car,701.708239
9,ND87334,California,M,High School or Below,22.875969,0.0,63.0,1/0/00,Corporate Auto,Two-Door Car,679.368378

In [127]:
summary_statistics = target_customers[['Total_claim_amount', 'CLV']].describe()

summary_statistics

       Total_claim_amount        CLV
count           40.000000  40.000000
mean           723.776577  34.157791
std            149.280606   5.692147
min            537.600000  22.875969
25%            633.378846  30.422087
50%            685.284189  36.599537
75%            799.200000  38.736470
max           1185.988301  40.238144