# Lab | Data Cleaning and Formatting

Objective: Apply Python programming to perform data cleaning and formatting, including identifying and handling with missing values, duplicates, outliers, errors, and using various formatting techniques such as changing data types, renaming columns, and handling string values, to prepare data for analysis.

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

# Challenge 1: Data Cleaning and Formatting

## Exercise 1: Cleaning Column Names

To ensure consistency and ease of use, standardize the column names of the dataframe. Start by taking a first look at the dataframe and identifying any column names that need to be modified. Use appropriate naming conventions and make sure that column names are descriptive and informative.

In [1]:
import pandas as pd

insurance_file = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv')
cols=[]
for column in insurance_file.columns:
    cols.append(column.lower())

insurance_file.columns = cols

cols = ['customer', 'st', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'vehicle_class', 'total_claim_amount']
insurance_file.columns = cols

display(insurance_file)

,customer,st,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
4003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Exercise 2: Cleaning invalid Values

The dataset contains columns with inconsistent and incorrect values that could affect the accuracy of our analysis. Therefore, we need to clean these columns to ensure that they contain only valid data. For example, the gender column contains various inconsistent values such as "F", "M", "Femal", "Male", "female", which need to be standardized.

Note that this exercise will focus only on cleaning inconsistent values and will not involve handling null values (NaN or None).

In [2]:
print('customer:')
display(insurance_file['customer'].unique())
print('st:')
display(insurance_file['st'].unique())
print('gender:')
display(insurance_file['gender'].unique())
print ('education:')
display(insurance_file['education'].unique())
print ('income:')
display(insurance_file['income'].unique())
print ('monthly_premium_auto:')
display(insurance_file['monthly_premium_auto'].unique())
print('number_of_open_complaints:')
display(insurance_file['number_of_open_complaints'].unique())
print ('policy_type:')
display(insurance_file['policy_type'].unique())
print ('vehicle_class:')
display(insurance_file['vehicle_class'].unique())
print ('total_claim_amount:')
display(insurance_file['total_claim_amount'].unique())

customer:

array(['RB50392', 'QZ44356', 'AI49188', ..., 'CW49887', 'MY31220', nan],
      dtype=object)

st:

array(['Washington', 'Arizona', 'Nevada', 'California', 'Oregon', 'Cali',
       'AZ', 'WA', nan], dtype=object)

gender:

array([nan, 'F', 'M', 'Femal', 'Male', 'female'], dtype=object)

education:

array(['Master', 'Bachelor', 'High School or Below', 'College',
       'Bachelors', 'Doctor', nan], dtype=object)

income:

array([    0., 48767., 36357., 62902., 55350., 14072., 28812., 77026.,
       99845., 83689., 24599., 25049., 28855., 51148., 66140., 57749.,
       61040., 17870., 97541., 29723., 86584., 75690., 23158., 65999.,
       37260., 68987., 42305., 65706., 53243., 50071., 60021., 43244.,
       46896., 10105., 23218., 24804., 33190., 36014., 67163., 16701.,
       46623., 64749., 16969., 11621., 17622., 11489., 66525., 33663.,
       22547., 61486., 29879., 93011., 65186., 26840., 75644., 38984.,
       71811., 20961., 41275., 61321., 51066., 34378., 43072., 25222.,
       77552., 23091., 48269., 32720., 20396., 21513., 80744., 52822.,
       69738., 17780., 18107., 57740., 32627., 65795., 60475., 41837.,
       32303., 40531., 79898., 56398., 71600., 27804., 45506., 99428.,
       20993., 37839., 92711., 74665., 61108., 46833., 88768., 28262.,
       33555., 42780., 58850., 21880., 25251., 25317., 24188., 41611.,
       28406., 69833., 80536., 88891., 97732., 61222., 50335., 82210.,
       64495., 28859., 77330., 33060., 42557., 26372., 17514., 89270.,
       29757., 51814., 24028., 28142., 52705., 54040., 22492., 21876.,
       70699., 27501., 15897., 25141., 28358., 62530., 90972., 63110.,
       29549., 39411., 21709., 67890., 84311., 99316., 54507., 64586.,
       61709., 94656., 61085., 89284., 31686., 56855., 53703., 27679.,
       23904., 65351., 64459., 32961., 71416., 68964., 78108., 10621.,
       84910., 77493., 81097., 96610., 30110., 22081., 98473., 97431.,
       93870., 50366., 34498., 16552., 26787., 43860., 21474., 18174.,
       60920., 41520., 72208., 53863., 66446., 64997., 64460., 46618.,
       49988., 16269., 72006., 44320., 19782., 63933., 28224., 21073.,
       63243., 94827., 39161., 37534., 80210., 21708., 94731., 32375.,
       16531., 32006., 81676., 71038., 20832., 52405., 26583., 25486.,
       24065., 70435., 39679., 53565., 37574., 48259., 78532., 96163.,
       72672., 99002., 79494., 35704., 26049., 70125., 52369., 41770.,
       31911., 70051., 19683., 30916., 84302., 60145., 63774., 25134.,
       37057., 58577., 85857., 70602., 33816., 89642., 60068., 50044.,
       36650., 50653., 68931., 39266., 40864., 39035., 34923., 24506.,
       52220., 53554., 34476., 68205., 53690., 74454., 29664., 72450.,
       47272., 21585., 23827., 69906., 73196., 72217., 46131., 54514.,
       96668., 78879., 29735., 23082., 53984., 52135., 17576., 29486.,
       58557., 25632., 18768., 47945., 58778., 15192., 51859., 23422.,
       21604., 79298., 76731., 38460., 48534., 30817., 48412., 68798.,
       23712., 72196., 68197., 75248., 89879., 46998., 57099., 33897.,
       59207., 40171., 80192., 74422., 34226., 65989., 30686., 20090.,
       77094., 97413., 79189., 18577., 62777., 17483., 84394., 41440.,
       98132., 88220., 58327., 25950., 65726., 84768., 36234., 58842.,
       25629., 77311., 95697., 22254., 65974., 92079., 67752., 25398.,
       33321., 38923., 20325., 13129., 49080., 42536., 29926., 21450.,
       33345., 15752., 40169., 55411., 12459., 64620., 83140., 54422.,
       68309., 56621., 38977., 83235., 32390., 66538., 23285., 76358.,
       21104., 12964., 33288., 56168., 23105., 36218., 52275., 49665.,
       32471., 62773., 76694., 55687., 36633., 77060., 92600., 64801.,
       45257., 26854., 85840., 26463., 30689., 29590., 25965., 17269.,
       90330., 18558., 46384., 42303., 71731., 26173., 24445., 72302.,
       27208., 30855., 99960., 55873., 18052., 28937., 12829., 92163.,
       17588., 41546., 70340., 34549., 93459., 86148., 27048., 73259.,
       35482., 29462., 67801., 16042., 28056., 16495., 41163., 33799.,
       90125., 87747., 35695., 90985., 66839., 79090., 24825., 26806.,
       56835., 46135., 22862., 95854., 44897., 64455., 53265., 50450.,
       54780., 67798., 21442., 27615., 50200., 73570., 70412., 36631.,
       35895., 93018., 70014., 48875., 67969., 68665., 26802., 45345.,
       89689., 32051., 81139., 63834., 37548., 72421., 83102., 28432.,
       83707., 63259., 63860., 43836., 86132., 28519., 39102., 97298.,
       41986., 17291., 37256., 96306., 14290., 37038., 90760., 77048.,
       54480., 16244., 22436., 71592., 28728., 57449., 83318., 75217.,
       55308., 36068., 48804., 55790., 70258., 47274., 44705., 70446.,
       64348., 88997., 10312., 96263., 28919., 41869., 32808., 79780.,
       91025., 33043., 69442., 47234., 86863., 25805., 43676., 59855.,
       35296., 36576., 28513., 85448., 23791., 20597., 56940., 93210.,
       48992., 53736., 25378., 37722., 69379., 33806., 94041., 74965.,
       34095., 96045., 86355., 27824., 42995., 21235., 74585., 41833.,
       23908., 61953., 73760., 23333., 20440., 27658., 50943., 19003.,
       46703., 21733., 20811., 11904., 43490., 57340., 49088., 47761.,
       61281., 25290., 24239., 82664., 83210., 38736., 55437., 68041.,
       29066., 54337., 67616., 41082., 50631., 19592., 55761., 41449.,
       62007., 21921., 42621., 63786., 82877., 10475., 21952., 49721.,
       88340., 24589., 73769., 66670., 88854., 31266., 67267., 79270.,
       36692., 44624., 19614., 83846., 51159., 83772., 88440., 25666.,
       52926., 40001., 18024., 23220., 64125., 58042., 90034., 27972.,
       50989., 11885., 89451., 78904., 70247., 32653., 93595., 90279.,
       53310., 22234., 91375., 22250., 51179., 38667., 79487., 67763.,
       71943., 53526., 35005., 24721., 48587., 76310., 73205., 51056.,
       58414., 23940., 44216., 29305., 53882., 91757., 33906., 68158.,
       42165., 68074., 84978., 71135., 64642., 46754., 70410., 66957.,
       24213., 99790., 79751., 86122., 82297., 89057., 43259., 25064.,
       25816., 41662., 96170., 46072., 37931., 35127., 45473., 93087.,
       22398., 92983., 27689., 69654., 18608., 73168., 70930., 62262.,
       91474., 61469., 16618., 48081., 67632., 34115., 23051., 23748.,
       40589., 50809., 66676., 52339., 14973., 31546., 20836., 88592.,
       66943., 81872., 22404., 21342., 34621., 62396., 97212., 49648.,
       97984., 26308., 63528., 20225., 87620., 34990., 99934., 60804.,
       94648., 24516., 61063., 15169., 55390., 27592., 61846., 83297.,
       55897., 21297., 87560., 89398., 36843., 34946., 75680., 49532.,
       10269., 49714., 77517., 81082., 72540., 61546., 44818., 79797.,
       92717., 63568., 73935., 18846., 38893., 84824., 20068., 97245.,
       51808., 71391., 23496., 55561., 23986., 22974., 61844., 27760.,
       52266., 23599., 36088., 70534., 27398., 85296., 31063., 52367.,
       58651., 84831., 70263., 45354., 28334., 38772., 41479., 23909.,
       48328., 86689., 24204., 25943., 62375., 70200., 79027., 62935.,
       26893., 47406., 27572., 32802., 62739., 90844., 44685., 42589.,
       93383., 79583., 89129., 94389., 84106., 76717., 51978., 47325.,
       86721., 24910., 43817., 59537., 54193., 86946., 12160., 33701.,
       85702., 69417., 38644., 63209., 16061., 54230.,    nan])

monthly_premium_auto:

array([ 1000.,    94.,   108.,   106.,    68.,    69.,    67.,   101.,
          71.,    93.,   110.,    70.,    64.,    72.,    74.,    79.,
          73.,    61.,   111.,    80.,    63.,   237.,    65.,   130.,
          62.,   117.,    91.,    90.,    66.,    99.,   103., 35354.,
         172.,    92.,   104.,   113.,   124.,   105.,   100.,   112.,
          97.,    95.,   102.,    96.,   186.,    77.,    76.,   119.,
          87.,   109.,   107.,    88.,    85.,  6464.,   133.,    86.,
          78.,    89.,   192.,   118.,   140.,   127.,   126.,    82.,
         115.,   217.,   114.,   138.,    81.,   255.,   150.,   123.,
         116.,   190.,    98.,   159.,    84.,    83.,   152.,   136.,
         245.,   135.,  1005.,   225.,   132.,   153.,   121.,   139.,
         154.,   161.,   156.,   171.,   244.,   183.,   176.,   230.,
         129.,   177.,   181.,   196.,   131.,   276.,   253.,   137.,
         180.,   203.,   147.,   165.,   198.,   125.,   193.,   128.,
         271.,   142., 10202.,   206.,   182.,   189.,   160.,   295.,
         210.,   134., 35353.,   239.,   188.,   256.,   173.,   285.,
         148.,   141.,   197.,   199.,    nan])

number_of_open_complaints:

array(['1/0/00', '1/2/00', '1/1/00', '1/3/00', '1/5/00', '1/4/00', nan],
      dtype=object)

policy_type:

array(['Personal Auto', 'Corporate Auto', 'Special Auto', nan],
      dtype=object)

vehicle_class:

array(['Four-Door Car', 'Two-Door Car', 'SUV', 'Luxury SUV', 'Sports Car',
       'Luxury Car', nan], dtype=object)

total_claim_amount:

array([2.70493400e+00, 1.13146493e+03, 5.66472247e+02, 5.29881344e+02,
       1.72693230e+01, 1.59383042e+02, 3.21600000e+02, 3.63029680e+02,
       5.11200000e+02, 4.25527834e+02, 4.82400000e+02, 5.28000000e+02,
       4.72029737e+02, 3.07139132e+02, 4.29202710e+01, 4.54245098e+02,
       6.47442031e+02, 3.08981664e+02, 4.84800000e+02, 3.55200000e+02,
       2.03828760e+01, 5.54376763e+02, 4.39200000e+02, 3.89185006e+02,
       7.99200000e+02, 2.09851050e+01, 5.32800000e+02, 3.84000000e+02,
       3.22294043e+02, 6.15927769e+02, 3.08150890e+02, 2.38201580e+01,
       1.54376810e+01, 2.04475147e+02, 5.61600000e+02, 4.36800000e+02,
       6.48000000e+02, 1.57397849e+02, 4.84318536e+02, 1.89189350e+01,
       8.82871945e+02, 4.94400000e+02, 3.17073170e+01, 5.17753000e-01,
       5.79165954e+02, 4.47793440e+02, 5.29624084e+02, 3.13023175e+02,
       5.93830288e+02, 5.08800000e+02, 1.73956072e+02, 3.31928030e+01,
       8.31625979e+02, 3.02565190e+02, 7.04768111e+02, 5.18400000e+02,
       3.12000000e+02, 5.04000000e+02, 8.63327324e+02, 1.04331355e+02,
       6.76391482e+02, 3.50400000e+02, 5.37600000e+02, 4.65258644e+02,
       4.56000000e+02, 5.00254235e+02, 2.81451042e+02, 5.43450500e+00,
       3.07200000e+02, 9.82399613e+02, 4.67803638e+02, 2.90341600e+01,
       4.11223030e+01, 4.27631210e+02, 2.58076850e+01, 7.87993313e+02,
       4.89600000e+02, 3.02400000e+02, 4.75623251e+02, 4.52150590e+01,
       4.60800000e+02, 2.82151207e+02, 3.64800000e+02, 6.79827592e+02,
       4.60414520e+01, 1.18790370e+01, 3.50529033e+02, 8.63394700e+02,
       4.92127532e+02, 1.32588288e+02, 2.97600000e+02, 2.69905129e+02,
       3.80036697e+02, 5.13600000e+02, 4.25266308e+02, 4.90110990e+01,
       9.36000000e+02, 1.42062768e+02, 4.51525210e+01, 3.05673570e+01,
       2.71606799e+02, 4.08000000e+02, 4.61581170e+01, 7.84800000e+02,
       3.16800000e+02, 4.80468690e+01, 6.38400000e+02, 4.65633954e+02,
       3.68400146e+02, 2.36902001e+02, 4.94511170e+01, 6.41096630e+01,
       3.26400000e+02, 9.21600000e+02, 1.01896450e+02, 5.42400000e+02,
       1.43747794e+02, 4.24077159e+02, 5.04221810e+01, 5.23200000e+02,
       1.13801497e+02, 1.92875720e+02, 8.28662719e+02, 9.75107098e+02,
       5.37987080e+01, 5.05283550e+01, 2.89912200e+02, 3.92604371e+02,
       7.21242206e+02, 4.56523850e+02, 1.08799543e+03, 5.19619150e+01,
       2.51992083e+02, 3.45600000e+02, 9.92576080e+01, 5.67315780e+01,
       5.75623240e+01, 6.04800000e+02, 8.31272900e+00, 3.16599228e+02,
       5.63007240e+01, 3.93600000e+02, 7.01708239e+02, 1.28705563e+02,
       6.79368378e+02, 5.99871260e+01, 5.66400000e+02, 6.16542620e+01,
       5.54400000e+02, 4.65414770e+02, 4.96800000e+02, 2.92800000e+02,
       2.56813837e+02, 5.42319401e+02, 3.03148399e+02, 2.54380630e+01,
       8.40244130e+01, 6.16937710e+01, 2.32926145e+02, 6.81797210e+01,
       7.10433775e+02, 5.52000000e+02, 1.12265890e+03, 4.08374746e+02,
       7.92000000e+02, 7.54358929e+02, 7.02990032e+02, 2.06837111e+02,
       2.75395894e+02, 4.59738128e+02, 3.36000000e+02, 4.30994107e+02,
       1.83600000e+03, 6.76324760e+01, 8.44481918e+02, 7.22486994e+02,
       5.90400000e+02, 4.81027516e+02, 1.12442773e+03, 6.69682001e+02,
       1.28409317e+03, 2.40259479e+02, 9.12000000e+02, 5.56800000e+02,
       1.15086827e+02, 4.70400000e+02, 3.83167471e+02, 3.07963291e+02,
       5.20364752e+02, 4.66436375e+02, 4.51670309e+02, 3.31200000e+02,
       4.28734656e+02, 3.98400000e+02, 3.69600000e+02, 8.31752839e+02,
       1.56124914e+02, 3.73428187e+02, 3.95934815e+02, 2.31201886e+02,
       2.89904105e+02, 7.29600000e+02, 1.05765111e+02, 6.39464548e+02,
       3.83442328e+02, 9.90859430e+01, 5.66935022e+02, 4.12800000e+02,
       3.88800000e+02, 2.34541344e+03, 7.73470977e+02, 4.24883448e+02,
       3.64240307e+02, 3.54729129e+02, 2.83995953e+02, 4.03200000e+02,
       2.05431760e+01, 3.85115437e+02, 1.40165035e+02, 1.02879769e+02,
       5.68682890e+01, 4.63158502e+02, 2.05444066e+02, 7.41600000e+02,
       5.63719670e+01, 8.13600000e+02, 7.95864079e+02, 6.14400000e+02,
       7.24386810e+01, 6.78815460e+01, 4.02636829e+02, 6.41388616e+02,
       3.42481173e+02, 3.40800000e+02, 4.12101933e+02, 7.37005730e+01,
       3.74400000e+02, 7.22024742e+02, 2.59361117e+02, 3.96295614e+02,
       3.58281562e+02, 6.53388564e+02, 1.21032372e+02, 9.28133960e+01,
       1.59636956e+02, 4.76156957e+02, 7.27200000e+02, 4.20783450e+01,
       2.00116060e+02, 6.76944023e+02, 7.66092950e+01, 8.30623064e+02,
       5.80473259e+02, 6.00366830e+01, 4.75310100e+01, 3.03872752e+02,
       1.00620067e+02, 4.81339891e+02, 1.10160000e+03, 8.63200220e+01,
       6.67200000e+02, 5.66033300e+01, 2.62865172e+02, 3.09577946e+02,
       3.65364581e+02, 7.05600000e+02, 9.51528000e+00, 2.44564334e+02,
       6.39105556e+02, 4.53600000e+02, 5.54522969e+02, 4.02449823e+02,
       3.27020539e+02, 5.39530000e+00, 1.31401291e+02, 9.93829430e+01,
       8.56800000e+02, 7.39200000e+02, 8.42183630e+01, 6.45468770e+01,
       4.41600000e+02, 3.79106230e+01, 2.02860399e+02, 8.58098170e+01,
       9.11466610e+01, 2.86234931e+02, 1.15920000e+03, 4.66570791e+02,
       1.25240623e+03, 4.21484456e+02, 4.30505942e+02, 3.98502948e+02,
       7.64676300e+00, 5.55105260e+01, 3.51270869e+02, 8.06400000e+02,
       6.47454583e+02, 1.28438230e+02, 3.02033971e+02, 4.80000000e+02,
       1.00316063e+03, 3.79200000e+02, 2.44362072e+02, 2.01455005e+02,
       9.15509800e+01, 9.18346680e+01, 7.07430832e+02, 9.29152510e+01,
       3.76126419e+02, 1.52184244e+02, 1.76819414e+02, 1.04454624e+02,
       9.41718054e+02, 4.68000000e+02, 9.40303080e+01, 6.78598810e+01,
       5.39843003e+02, 9.51931570e+01, 9.53385050e+01, 6.26400000e+02,
       4.94395024e+02, 1.15545086e+02, 1.99389810e+01, 7.99926741e+02,
       8.78400000e+02, 4.44470676e+02, 2.68819985e+02, 1.01288069e+02,
       1.31760000e+03, 6.91412378e+02, 8.04811859e+02, 1.09086434e+03,
       5.05870350e+01, 1.51528482e+02, 3.47075948e+02, 2.71697529e+02,
       8.49600000e+02, 1.10484661e+02, 1.13534474e+02, 5.95200000e+02,
       1.13609508e+02, 1.33706349e+03, 1.14273025e+02, 1.25194389e+02,
       2.35220971e+02, 3.95341110e+02, 1.14798771e+02, 7.72798511e+02,
       6.33600000e+02, 1.68517149e+02, 8.45654042e+02, 1.15728852e+02,
       6.68293970e+02, 7.00901632e+02, 5.25600000e+02, 2.52990000e+01,
       3.75330097e+02, 4.18233667e+02, 3.98240791e+02, 9.38513425e+02,
       3.38619869e+02, 3.39344531e+02, 3.02818833e+02, 6.19165344e+02,
       2.59561195e+02, 1.79161843e+02, 6.62400000e+02, 7.55018520e+01,
       3.06983596e+02, 8.40268480e+01, 1.39489926e+02, 6.07445900e+02,
       6.31124372e+02, 6.28023494e+02, 4.26655599e+02, 9.14179230e+01,
       3.17844812e+02, 1.18446235e+02, 8.64615820e+01, 1.18454974e+02,
       3.62774545e+02, 2.21856184e+02, 9.80169081e+02, 6.14675906e+02,
       1.45252168e+02, 3.74240783e+02, 6.19200000e+02, 8.06692570e+01,
       1.32480000e+03, 4.68566133e+02, 8.42437850e+02, 4.75200000e+02,
       1.17193117e+03, 2.68471802e+02, 1.38722385e+02, 4.67248020e+02,
       4.67503236e+02, 1.21440000e+03, 1.92085299e+02, 6.19973889e+02,
       1.00278255e+03, 2.51774574e+02, 8.66208321e+02, 1.21092095e+03,
       5.99648466e+02, 2.02772444e+03, 7.28520470e+01, 4.49819671e+02,
       2.59060862e+02, 2.99356083e+02, 6.99167900e+02, 1.17959654e+02,
       5.45240341e+02, 3.28231432e+02, 6.65686420e+01, 1.38240000e+03,
       1.21306839e+02, 6.09600000e+02, 1.25933005e+02, 6.55413330e+02,
       6.73342650e+02, 2.38104910e+01, 4.51200000e+02, 2.31922173e+02,
       7.72800000e+02, 6.64980242e+02, 1.28645946e+02, 4.64920390e+01,
       4.32000000e+02, 7.80851490e+01, 5.64466556e+02, 2.89040734e+02,
       1.55938593e+02, 3.26549425e+02, 6.53656680e+02, 1.03935601e+02,
       8.09532341e+02, 5.80725310e+02, 1.33735395e+02, 2.38005074e+02,
       1.57767442e+03, 1.35892444e+02, 1.35261250e+02, 5.71200000e+02,
       6.37063458e+02, 7.59360960e+01, 1.36291083e+02, 6.75309040e+01,
       3.12921256e+02, 1.66937747e+02, 1.35382194e+02, 1.77429540e+01,
       1.83836700e+00, 1.97776009e+02, 6.12102262e+02, 1.19303615e+03,
       6.00000000e+02, 1.36829537e+02, 9.26400000e+02, 3.92636400e+02,
       2.15226476e+02, 1.60598662e+02, 3.71803029e+02, 4.43670399e+02,
       6.12300581e+02, 2.90391526e+02, 3.16795337e+02, 4.05527937e+02,
       2.08598246e+02, 1.38130879e+02, 3.01437365e+02, 4.56473115e+02,
       1.52338562e+02, 4.91755368e+02, 4.85174390e+01, 4.30375049e+02,
       2.46489123e+02, 1.28969729e+02, 1.85355353e+02, 1.30080000e+03,
       9.07130500e+00, 1.33475315e+02, 1.41199465e+02, 6.23223617e+02,
       4.27200000e+02, 1.41725051e+02, 2.11336937e+02, 1.47080303e+02,
       8.62762957e+02, 1.13367765e+02, 9.43200000e+02, 1.17672722e+02,
       2.25145949e+02, 1.82432565e+02, 1.48173152e+02, 1.55570802e+02,
       2.12391975e+02, 1.74041566e+02, 4.86278557e+02, 1.92470900e+00,
       2.62122050e+02, 5.41695658e+02, 3.27682669e+02, 1.26557030e+03,
       6.30431970e+01, 1.56313630e+01, 3.75866091e+02, 4.52616872e+02,
       1.13450122e+02, 1.60345100e+01, 6.15272280e+02, 6.15256301e+02,
       5.12662450e+02, 7.45239350e+01, 4.26072946e+02, 1.69287785e+02,
       4.19464143e+02, 1.58077504e+02, 6.69600000e+02, 3.95729716e+02,
       1.59756733e+02, 5.85575520e+01, 8.58297100e+00, 2.85418473e+02,
       4.10508316e+02, 2.44231350e+02, 2.18598065e+02, 6.43826716e+02,
       4.97047297e+02, 1.02240000e+03, 6.57600000e+02, 2.30245772e+02,
       5.62275100e+00, 1.60075260e+02, 3.46513050e+01, 6.78100487e+02,
       1.74588413e+02, 1.59391681e+02, 6.98400000e+02, 2.32711071e+02,
       1.63046956e+02, 7.98656050e+01, 3.82085897e+02, 4.83483190e+01,
       1.33425609e+02, 5.61414794e+02, 4.45287788e+02, 1.65570243e+02,
       4.07996840e+02, 8.44229478e+02, 3.40306584e+02, 1.06647493e+02,
       6.26116259e+02, 7.84657810e+02, 5.47200000e+02, 8.62777200e+01,
       6.35165720e+01, 1.20015609e+02, 1.25413790e+03, 4.17600000e+02,
       7.98002689e+02, 8.20416840e+01, 2.28190880e+01, 4.22400000e+02,
       6.39971388e+02, 5.11497882e+02, 2.39540223e+02, 5.18180364e+02,
       7.15252366e+02, 4.02070719e+02, 9.48140320e+01, 9.72000000e+02,
       7.38830440e+01, 5.74024018e+02, 6.32715382e+02, 4.23862600e+00,
       4.22480870e+01, 2.71451510e+01, 2.70002766e+02, 4.94946438e+02,
       1.42567008e+02, 2.51334247e+02, 3.69818708e+02, 1.61419528e+02,
       2.55999709e+02, 6.17695640e+01, 1.31040000e+03, 2.50001424e+02,
       1.41799422e+02, 4.97970160e+01, 3.72175592e+02, 5.42143850e+02,
       1.36080000e+03, 7.68000000e+02, 7.26329340e+01, 7.20601429e+02,
       5.76000000e+02, 4.81025786e+02, 4.66176731e+02, 1.59266473e+02,
       4.12831670e+01, 5.03808329e+02, 8.59599411e+02, 3.05653785e+02,
       2.78902846e+02, 1.41600000e+03, 1.39963594e+02, 7.34400000e+02,
       3.72998650e+01, 9.58165160e+01, 1.00800000e+03, 4.46400000e+02,
       7.22053620e+01, 4.01592109e+02, 2.53183568e+02, 6.43200000e+02,
       7.99673766e+02, 2.79878670e+01, 1.66772960e+02, 2.70563995e+02,
       1.78006524e+02, 4.04265696e+02, 5.13818403e+02, 1.31828507e+02,
       6.28800000e+02, 1.78986788e+02, 3.92235698e+02, 8.73600000e+02,
       3.82107000e-01, 1.87363583e+02, 3.50853987e+02, 2.17973168e+02,
       2.59340640e+01, 1.88938397e+02, 1.53205591e+02, 2.89323968e+03,
       6.29532731e+02, 3.61284757e+02, 1.18598830e+03, 4.25800112e+02,
       1.90434460e+02, 1.93505325e+02, 2.40877740e+01, 2.19288706e+02,
       8.81360959e+02, 2.69516270e+01, 4.66122541e+02, 6.07095655e+02,
       2.90381707e+02, 5.58099357e+02, 8.28000000e+02, 5.40514115e+02,
       1.00049832e+02, 5.98619630e+01, 1.93570320e+02, 1.99797270e+02,
       5.30847530e+01, 2.56438030e+02, 2.11136067e+02, 7.43508930e+01,
       6.21464468e+02, 3.60055890e+02, 6.59548130e+01, 4.07450118e+02,
       1.22880000e+03, 2.40636930e+01, 3.11329282e+02, 4.26891350e+01,
       4.60323855e+02, 2.13225001e+02, 3.00607591e+02, 2.62504882e+02,
       2.63365432e+02, 2.56268091e+02, 2.15818200e+02, 1.35360000e+03,
       4.99200000e+02, 4.55079520e+01, 6.91200000e+02, 8.24099220e+01,
       3.57642982e+02, 4.20356980e+02, 1.36787725e+02, 2.20186677e+02,
       1.70798204e+02, 2.66165535e+02, 9.89217820e+01, 2.81295903e+02,
       6.31743039e+02, 2.92095210e+01, 1.36883999e+02, 3.17556010e+01,
       2.24275820e+02, 8.30400000e+02, 4.80159011e+02, 3.90792553e+02,
       7.20711950e+01, 4.19652520e+01, 1.02700003e+03, 3.19820747e+02,
       4.11011162e+02, 4.11058500e+00, 3.51149904e+02, 2.84000172e+02,
       4.96474767e+02, 9.25137143e+02, 1.31640970e+01, 2.27872071e+02,
       4.63335061e+02, 1.80667969e+02, 3.02764283e+02, 1.41922839e+02,
       3.49783046e+02, 5.40655380e+01, 3.42515136e+02, 1.02717726e+03,
       2.75989978e+02, 4.72599683e+02, 1.33693172e+03, 7.34594600e+00,
       5.40141566e+02, 3.83363758e+02, 5.37765151e+02, 3.21873474e+02,
       1.95756830e+01, 1.08138715e+02, 7.07303416e+02, 1.06733313e+03,
       8.07947292e+02, 6.18630955e+02, 4.04272806e+02, 7.10400000e+02,
       7.07977614e+02, 2.32242326e+02, 6.82260010e+01, 2.87149807e+02,
       3.91636628e+02, 2.39328571e+02, 2.32674417e+02, 3.36509610e+02,
       2.44212286e+02, 3.28870868e+02, 8.50637080e+01, 1.41840000e+03,
       3.34408717e+02, 4.20964150e+01, 3.00528579e+02, 1.44782152e+02,
       6.45982160e+01, 3.47857619e+02, 2.45447622e+02, 9.55200000e+02,
       7.20752945e+02, 3.40656963e+02, 5.46524896e+02, 4.89411833e+02,
       1.71325856e+02, 2.49085887e+02, 3.08748690e+01, 3.61455219e+02,
       2.07320041e+02,            nan])

In [3]:
insurance_file['gender'] = insurance_file['gender'].str.lower()
gender_mapping = {'female': 'F','f': 'F','male': 'M','m': 'M'}
insurance_file['gender'] = insurance_file['gender'].map(gender_mapping)
print(insurance_file['gender'])

0       NaN
1         F
2         F
3         M
4         M
       ...
4003    NaN
4004    NaN
4005    NaN
4006    NaN
4007    NaN
Name: gender, Length: 4008, dtype: object

In [4]:
insurance_file['st'] = insurance_file['st'].str.lower()
display(insurance_file['st'])
st_mapping = {'cali': 'california','az': 'arizona', 'wa': 'washington',}
insurance_file['st'] = insurance_file['st'].replace(st_mapping)

display(insurance_file['st'])
display(insurance_file['st'].unique())

0       washington
1          arizona
2           nevada
3       california
4       washington
           ...
4003           NaN
4004           NaN
4005           NaN
4006           NaN
4007           NaN
Name: st, Length: 4008, dtype: object

0       washington
1          arizona
2           nevada
3       california
4       washington
           ...
4003           NaN
4004           NaN
4005           NaN
4006           NaN
4007           NaN
Name: st, Length: 4008, dtype: object

array(['washington', 'arizona', 'nevada', 'california', 'oregon', nan],
      dtype=object)

## Exercise 3: Formatting data types

The data types of many columns in the dataset appear to be incorrect. This could impact the accuracy of our analysis. To ensure accurate analysis, we need to correct the data types of these columns. Please update the data types of the columns as appropriate.

It is important to note that this exercise does not involve handling null values (NaN or None).

In [5]:
insurance_file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4008 entries, 0 to 4007
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customer                   1071 non-null   object
 1   st                         1071 non-null   object
 2   gender                     937 non-null    object
 3   education                  1071 non-null   object
 4   customer_lifetime_value    1068 non-null   object
 5   income                     1071 non-null   float64
 6   monthly_premium_auto       1071 non-null   float64
 7   number_of_open_complaints  1071 non-null   object
 8   policy_type                1071 non-null   object
 9   vehicle_class              1071 non-null   object
 10  total_claim_amount         1071 non-null   float64
dtypes: float64(3), object(8)
memory usage: 344.6+ KB

In [6]:
insurance_file['customer_lifetime_value'] = insurance_file['customer_lifetime_value'].str.rstrip('%').astype(float) 
insurance_file['number_of_open_complaints'] = insurance_file['number_of_open_complaints'].str.split('/').str[0].astype(float, errors='ignore')

insurance_file.info()

display(insurance_file['customer_lifetime_value'])
display(insurance_file['number_of_open_complaints'])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4008 entries, 0 to 4007
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customer                   1071 non-null   object
 1   st                         1071 non-null   object
 2   gender                     937 non-null    object
 3   education                  1071 non-null   object
 4   customer_lifetime_value    1068 non-null   float64
 5   income                     1071 non-null   float64
 6   monthly_premium_auto       1071 non-null   float64
 7   number_of_open_complaints  1071 non-null   float64
 8   policy_type                1071 non-null   object
 9   vehicle_class              1071 non-null   object
 10  total_claim_amount         1071 non-null   float64
dtypes: float64(5), object(6)
memory usage: 344.6+ KB

0              NaN
1        697953.59
2       1288743.17
3        764586.18
4        536307.65
           ...
4003           NaN
4004           NaN
4005           NaN
4006           NaN
4007           NaN
Name: customer_lifetime_value, Length: 4008, dtype: float64

0       1.0
1       1.0
2       1.0
3       1.0
4       1.0
       ...
4003    NaN
4004    NaN
4005    NaN
4006    NaN
4007    NaN
Name: number_of_open_complaints, Length: 4008, dtype: float64

## Exercise 4: Dealing with Null values

Identify any columns with null or missing values. Identify how many null values each column has. You can use the isnull() function in pandas to find columns with null values.

Decide on a strategy for handling the null values. There are several options, including:

- Drop the rows or columns with null values
- Fill the null values with a specific value (such as the column mean or median for numerical variables and mode for categorical variables)
- Fill the null values with the previous or next value in the column
- Fill the null values based on a more complex algorithm or model (we haven't studied this yet)

Implement your chosen strategy to handle the null values. You can use the fillna() function in pandas to fill null values or dropna() function to drop null values.

Verify that your strategy has successfully handled the null values. You can use the isnull() function again to check if there are still null values in the dataset.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling null values.

After formatting data types, as a last step, convert all the numeric variables to integers using applymap.

Save the cleaned dataset to a new CSV file.

In [7]:
# for identifying columns and number of nan values in the dataframe

columns_with_nan = insurance_file.columns[insurance_file.isnull().any()]
nan_counts = insurance_file[columns_with_nan].isnull().sum()
display(columns_with_nan)
display(nan_counts)

Index(['customer', 'st', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'vehicle_class', 'total_claim_amount'],
      dtype='object')

customer                     2937
st                           2937
gender                       3071
education                    2937
customer_lifetime_value      2940
income                       2937
monthly_premium_auto         2937
number_of_open_complaints    2937
policy_type                  2937
vehicle_class                2937
total_claim_amount           2937
dtype: int64

In [8]:
#for rows with only NaN values, we drop the whole row, and then we verify the leftovers

insurance_file = insurance_file.dropna(how='all')
display(insurance_file)
columns_with_nan = insurance_file.columns[insurance_file.isnull().any()]
nan_counts = insurance_file[columns_with_nan].isnull().sum()
display(columns_with_nan)
display(nan_counts)

,customer,st,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,RB50392,washington,NaN,Master,NaN,0.0,1000.0,1.0,Personal Auto,Four-Door Car,2.704934
1,QZ44356,arizona,F,Bachelor,697953.59,0.0,94.0,1.0,Personal Auto,Four-Door Car,1131.464935
2,AI49188,nevada,F,Bachelor,1288743.17,48767.0,108.0,1.0,Personal Auto,Two-Door Car,566.472247
3,WW63253,california,M,Bachelor,764586.18,0.0,106.0,1.0,Corporate Auto,SUV,529.881344
4,GA49547,washington,M,High School or Below,536307.65,36357.0,68.0,1.0,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
1066,TM65736,oregon,M,Master,305955.03,38644.0,78.0,1.0,Personal Auto,Four-Door Car,361.455219
1067,VJ51327,california,F,High School or Below,2031499.76,63209.0,102.0,1.0,Personal Auto,SUV,207.320041
1068,GS98873,arizona,F,Bachelor,323912.47,16061.0,88.0,1.0,Personal Auto,Four-Door Car,633.600000
1069,CW49887,california,F,Master,462680.11,79487.0,114.0,1.0,Special Auto,SUV,547.200000
1070,MY31220,california,F,College,899704.02,54230.0,112.0,1.0,Personal Auto,Two-Door Car,537.600000

Index(['gender', 'customer_lifetime_value'], dtype='object')

gender                     134
customer_lifetime_value      3
dtype: int64

In [9]:
#I guess that in any statistical study, changing variables at will, at our will, isn't recommended because it can change the statistical calculations. So my counsel would always be to drop rows with non valid values. 
#i'll drop the rows that last and have null values

insurance_file = insurance_file.dropna(axis=0)

#checking if the drop worked
display(insurance_file.info())
display(insurance_file)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 935 entries, 1 to 1070
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customer                   935 non-null    object
 1   st                         935 non-null    object
 2   gender                     935 non-null    object
 3   education                  935 non-null    object
 4   customer_lifetime_value    935 non-null    float64
 5   income                     935 non-null    float64
 6   monthly_premium_auto       935 non-null    float64
 7   number_of_open_complaints  935 non-null    float64
 8   policy_type                935 non-null    object
 9   vehicle_class              935 non-null    object
 10  total_claim_amount         935 non-null    float64
dtypes: float64(5), object(6)
memory usage: 87.7+ KB

None

,customer,st,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
1,QZ44356,arizona,F,Bachelor,697953.59,0.0,94.0,1.0,Personal Auto,Four-Door Car,1131.464935
2,AI49188,nevada,F,Bachelor,1288743.17,48767.0,108.0,1.0,Personal Auto,Two-Door Car,566.472247
3,WW63253,california,M,Bachelor,764586.18,0.0,106.0,1.0,Corporate Auto,SUV,529.881344
4,GA49547,washington,M,High School or Below,536307.65,36357.0,68.0,1.0,Personal Auto,Four-Door Car,17.269323
5,OC83172,oregon,F,Bachelor,825629.78,62902.0,69.0,1.0,Personal Auto,Two-Door Car,159.383042
...,...,...,...,...,...,...,...,...,...,...,...
1066,TM65736,oregon,M,Master,305955.03,38644.0,78.0,1.0,Personal Auto,Four-Door Car,361.455219
1067,VJ51327,california,F,High School or Below,2031499.76,63209.0,102.0,1.0,Personal Auto,SUV,207.320041
1068,GS98873,arizona,F,Bachelor,323912.47,16061.0,88.0,1.0,Personal Auto,Four-Door Car,633.600000
1069,CW49887,california,F,Master,462680.11,79487.0,114.0,1.0,Special Auto,SUV,547.200000
1070,MY31220,california,F,College,899704.02,54230.0,112.0,1.0,Personal Auto,Two-Door Car,537.600000

## Exercise 5: Dealing with duplicates

Use the .duplicated() method to identify any duplicate rows in the dataframe.

Decide on a strategy for handling the duplicates. Options include:
- Dropping all duplicate rows
- Keeping only the first occurrence of each duplicated row
- Keeping only the last occurrence of each duplicated row
- Dropping duplicates based on a subset of columns
- Dropping duplicates based on a specific column

Implement your chosen strategy using the drop_duplicates() function.

Verify that your strategy has successfully handled the duplicates by checking for duplicates again using .duplicated().

Remember to document your process and explain your reasoning for choosing a particular strategy for handling duplicates.

Save the cleaned dataset to a new CSV file.

In [10]:
#checking if there are duplicated rows based in columns customer and policy_type, because a client might have two or three policy types, but the other values can be duplicated as needed by any customer personal data
dup_rows = insurance_file[insurance_file.duplicated(['customer', 'policy_type'])]
display(dup_rows)
#there are no duplicates based on the columns chosen for the cleaning, which seems the more correct one for a good business analysis
display(insurance_file)

#saving in a new csv file
insurance_file.to_csv('insurance_file.csv')

Empty DataFrame
Columns: [customer, st, gender, education, customer_lifetime_value, income, monthly_premium_auto, number_of_open_complaints, policy_type, vehicle_class, total_claim_amount]
Index: []

,customer,st,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
1,QZ44356,arizona,F,Bachelor,697953.59,0.0,94.0,1.0,Personal Auto,Four-Door Car,1131.464935
2,AI49188,nevada,F,Bachelor,1288743.17,48767.0,108.0,1.0,Personal Auto,Two-Door Car,566.472247
3,WW63253,california,M,Bachelor,764586.18,0.0,106.0,1.0,Corporate Auto,SUV,529.881344
4,GA49547,washington,M,High School or Below,536307.65,36357.0,68.0,1.0,Personal Auto,Four-Door Car,17.269323
5,OC83172,oregon,F,Bachelor,825629.78,62902.0,69.0,1.0,Personal Auto,Two-Door Car,159.383042
...,...,...,...,...,...,...,...,...,...,...,...
1066,TM65736,oregon,M,Master,305955.03,38644.0,78.0,1.0,Personal Auto,Four-Door Car,361.455219
1067,VJ51327,california,F,High School or Below,2031499.76,63209.0,102.0,1.0,Personal Auto,SUV,207.320041
1068,GS98873,arizona,F,Bachelor,323912.47,16061.0,88.0,1.0,Personal Auto,Four-Door Car,633.600000
1069,CW49887,california,F,Master,462680.11,79487.0,114.0,1.0,Special Auto,SUV,547.200000
1070,MY31220,california,F,College,899704.02,54230.0,112.0,1.0,Personal Auto,Two-Door Car,537.600000

# Challenge 2: creating functions on a separate `py` file

Put all the data cleaning and formatting steps into functions, and create a main function that performs all the cleaning and formatting. 

Write these functions in a separate .py file(s). By putting these steps into functions, we can make the code more modular and easier to maintain.

*Hint: autoreload module is a utility module in Python that allows you to automatically reload modules in the current session when changes are made to the source code. This can be useful in situations where you are actively developing code and want to see the effects of changes you make without having to constantly restart the Python interpreter or Jupyter Notebook kernel.*

In [11]:
%%writefile data_cleaning_formatting.py

def lowercase_column_names(df: pd.DataFrame) -> pd.DataFrame:
    '''
    Convert the column names of a DataFrame to lowercase.

        df (pd.DataFrame): Input DataFrame.

        pd.DataFrame: DataFrame with column names in lowercase.
    '''
    df.columns = df.columns.str.lower()
    return df

def rename_columns(df: pd.DataFrame, new_column_names: list) -> pd.DataFrame:
    '''
    Rename the columns of a DataFrame with new names.

        df (pd.DataFrame): Input DataFrame.
        new_column_names (list): List of new column names.

        pd.DataFrame: DataFrame with updated column names.
    '''
    df.columns = new_column_names
    return df

def format_gender(df: pd.DataFrame, gender_mapping: dict) -> None:
    '''
    Format the 'gender' column of a DataFrame using a mapping dictionary.

        df (pd.DataFrame): Input DataFrame.
        gender_mapping (dict): Mapping dictionary for gender values.
    '''
    df['gender'] = df['gender'].str.lower().map(gender_mapping)

def format_state(df: pd.DataFrame, state_mapping: dict) -> None:
    '''
    Format the 'st' column of a DataFrame using a mapping dictionary.

        df (pd.DataFrame): Input DataFrame.
        state_mapping (dict): Mapping dictionary for state values.
    '''
    df['st'] = df['st'].str.lower().replace(state_mapping)

def format_customer_lifetime_value(df: pd.DataFrame) -> None:
    '''
    Format the 'customer_lifetime_value' column of a DataFrame.
    Remove the '%' symbol and convert the values to float.
        df (pd.DataFrame): Input DataFrame.
    '''
    df['customer_lifetime_value'] = df['customer_lifetime_value'].str.rstrip('%').astype(float)

def format_number_of_open_complaints(df: pd.DataFrame) -> None:
    '''
    Format the 'number_of_open_complaints' column of a DataFrame.
    Extract the numeric part before '/' character and convert to float.

        df (pd.DataFrame): Input DataFrame.
    '''
    df['number_of_open_complaints'] = df['number_of_open_complaints'].str.split('/').str[0].astype(float, errors='ignore')

def drop_rows_with_nan(df: pd.DataFrame) -> None:
    '''
    Drop rows from a DataFrame where all values are NaN.
        df (pd.DataFrame): Input DataFrame.
    '''
    df.dropna(how='all', inplace=True)

def remove_duplicates(df: pd.DataFrame, subset_columns: list) -> None:
    '''
    Remove duplicate rows from a DataFrame based on specified subset columns.
        df (pd.DataFrame): Input DataFrame.
        subset_columns (list): List of columns to consider for duplicate checking.
    '''
    df.drop_duplicates(subset=subset_columns, inplace=True)

def clean_and_format(df: pd.DataFrame) -> pd.DataFrame:
    '''
    Perform cleaning and formatting operations on a DataFrame.
    
        df (pd.DataFrame): Input DataFrame.
        pd.DataFrame: Cleaned and formatted DataFrame.
    '''
    lowercase_column_names(df)
    
    new_column_names = []  # Specify the new column names
    rename_columns(df, new_column_names)
    
    gender_mapping = {}  # Specify the gender mapping dictionary
    format_gender(df, gender_mapping)
    
    state_mapping = {}  # Specify the state mapping dictionary
    format_state(df, state_mapping)
    
    format_customer_lifetime_value(df)
    format_number_of_open_complaints(df)
    
    drop_rows_with_nan(df)
    
    subset_columns = ['col1', 'col2']  # Specify the columns to consider for duplicate checking
    remove_duplicates(df, subset_columns)
    
    return df

Overwriting data_cleaning_formatting.py

# Challenge 3: Analyzing Clean and Formated Data

You have been tasked with analyzing the data to identify potential areas for improving customer retention and profitability. Your goal is to identify customers with a high policy claim amount and a low customer lifetime value.

In Pandas Lab, we only looked at high policy claim amounts because we couldn't look into low customer lifetime values. If we tried to do work with that column, we wouldn't have been able to do it because customer lifetime value wasn't clean and in its proper format. So after cleaning and formatting the data, lets get some more interesting insights!

Instructions:

- Review again the statistics for total claim amount and customer lifetime value to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount and a low customer lifetime value. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount, and clients with a low customer lifetime value to be those in the bottom 25% of the customer lifetime value. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile and a customer lifetime value in the bottom 25th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount and low customer lifetime value data. To do so, select both columns of the dataframe simultaneously and pass it to the .describe() method. This will give you descriptive statistics, such as mean, median, standard deviation, minimum and maximum values for both columns at the same time, allowing you to compare and analyze their characteristics.

In [12]:
display(insurance_file)

,customer,st,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
1,QZ44356,arizona,F,Bachelor,697953.59,0.0,94.0,1.0,Personal Auto,Four-Door Car,1131.464935
2,AI49188,nevada,F,Bachelor,1288743.17,48767.0,108.0,1.0,Personal Auto,Two-Door Car,566.472247
3,WW63253,california,M,Bachelor,764586.18,0.0,106.0,1.0,Corporate Auto,SUV,529.881344
4,GA49547,washington,M,High School or Below,536307.65,36357.0,68.0,1.0,Personal Auto,Four-Door Car,17.269323
5,OC83172,oregon,F,Bachelor,825629.78,62902.0,69.0,1.0,Personal Auto,Two-Door Car,159.383042
...,...,...,...,...,...,...,...,...,...,...,...
1066,TM65736,oregon,M,Master,305955.03,38644.0,78.0,1.0,Personal Auto,Four-Door Car,361.455219
1067,VJ51327,california,F,High School or Below,2031499.76,63209.0,102.0,1.0,Personal Auto,SUV,207.320041
1068,GS98873,arizona,F,Bachelor,323912.47,16061.0,88.0,1.0,Personal Auto,Four-Door Car,633.600000
1069,CW49887,california,F,Master,462680.11,79487.0,114.0,1.0,Special Auto,SUV,547.200000
1070,MY31220,california,F,College,899704.02,54230.0,112.0,1.0,Personal Auto,Two-Door Car,537.600000

In [13]:
insurance_file.describe()

,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,total_claim_amount
count,9.350000e+02,935.000000,935.000000,935.0,935.000000
mean,7.973390e+05,39527.888770,207.483422,1.0,405.690461
std,6.296076e+05,30660.716118,1713.047802,0.0,301.178033
min,2.004351e+05,0.000000,61.000000,1.0,0.382107
25%,4.117083e+05,13600.500000,68.000000,1.0,193.537823
50%,5.887182e+05,36631.000000,83.000000,1.0,350.400000
75%,9.050444e+05,65076.000000,110.000000,1.0,537.600000
max,4.479547e+06,99960.000000,35354.000000,1.0,2893.239678

In [14]:
claim_amount_stats = insurance_file['total_claim_amount'].describe()

In [15]:
lifetime_value_stats = insurance_file['customer_lifetime_value'].describe()

In [16]:
print("Total Claim Amount Statistics:")
print(round(claim_amount_stats))

Total Claim Amount Statistics:
count     935.0
mean      406.0
std       301.0
min         0.0
25%       194.0
50%       350.0
75%       538.0
max      2893.0
Name: total_claim_amount, dtype: float64

In [17]:
print ("Customer Lifetime Value Statistics")
print(round(lifetime_value_stats))

Customer Lifetime Value Statistics
count        935.0
mean      797339.0
std       629608.0
min       200435.0
25%       411708.0
50%       588718.0
75%       905044.0
max      4479547.0
Name: customer_lifetime_value, dtype: float64

In [18]:
claim_amount_threshold = insurance_file['total_claim_amount'].quantile(0.75)
display(claim_amount_threshold)

537.6

In [19]:
lifetime_value_threshold = insurance_file['customer_lifetime_value'].quantile(0.25)
display(lifetime_value_threshold)

411708.3

In [20]:
high_claim_low_value_insurance_file = insurance_file[(insurance_file['total_claim_amount'] > claim_amount_threshold) & (insurance_file['customer_lifetime_value'] < lifetime_value_threshold)]
display(high_claim_low_value_insurance_file)

,customer,st,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
140,DS81757,oregon,M,College,247012.12,0.0,74.0,1.0,Personal Auto,Two-Door Car,721.242206
158,KA61892,arizona,M,College,387364.70,28142.0,105.0,1.0,Personal Auto,Sports Car,701.708239
160,ND87334,california,M,High School or Below,228759.69,0.0,63.0,1.0,Corporate Auto,Two-Door Car,679.368378
170,TS19868,california,M,College,241313.97,27501.0,63.0,1.0,Personal Auto,Four-Door Car,542.319401
179,HH90090,california,F,Bachelor,407663.47,29549.0,104.0,1.0,Personal Auto,Sports Car,710.433775
184,AB13432,california,M,Bachelor,373583.81,0.0,110.0,1.0,Personal Auto,SUV,792.000000
204,FL34139,california,M,High School or Below,368811.09,0.0,63.0,1.0,Personal Auto,Four-Door Car,669.682001
250,IA63417,arizona,F,High School or Below,400151.91,19782.0,108.0,1.0,Personal Auto,Two-Door Car,773.470977
269,VZ51506,arizona,F,High School or Below,359531.29,0.0,103.0,1.0,Corporate Auto,Sports Car,741.600000
279,OH60605,oregon,F,High School or Below,365253.24,39679.0,92.0,1.0,Personal Auto,Two-Door Car,641.388616
304,RR77985,oregon,F,Bachelor,288774.23,0.0,80.0,1.0,Personal Auto,Four-Door Car,676.944023
388,JF36291,california,M,College,387364.70,28142.0,105.0,1.0,Personal Auto,Sports Car,701.708239
415,ZF84449,oregon,F,College,372672.80,0.0,112.0,1.0,Special Auto,Sports Car,806.400000
448,NL93182,nevada,M,Bachelor,254945.00,0.0,78.0,1.0,Corporate Auto,Four-Door Car,845.654042
450,WE68644,oregon,F,Bachelor,380392.18,20325.0,100.0,1.0,Personal Auto,Sports Car,668.293970
467,AU96286,oregon,F,Bachelor,316765.84,0.0,92.0,1.0,Corporate Auto,Four-Door Car,662.400000
473,QK31192,arizona,M,High School or Below,407913.27,0.0,114.0,1.0,Corporate Auto,Two-Door Car,631.124372
486,FY51713,arizona,F,Bachelor,357076.05,56168.0,88.0,1.0,Personal Auto,Four-Door Car,614.675906
500,XN11823,nevada,F,Bachelor,376446.51,92600.0,94.0,1.0,Corporate Auto,Two-Door Car,842.437850
502,PX17116,nevada,M,College,362345.42,0.0,111.0,1.0,Corporate Auto,SUV,1171.931170
565,XS12556,california,F,College,368309.99,0.0,101.0,1.0,Corporate Auto,Sports Car,564.466556
593,ZK21724,oregon,F,High School or Below,401654.20,0.0,111.0,1.0,Personal Auto,SUV,799.200000
638,DM95829,california,M,College,252395.96,16244.0,68.0,1.0,Personal Auto,Two-Door Car,623.223617
645,JA41698,nevada,M,Bachelor,309953.80,0.0,102.0,1.0,Corporate Auto,SUV,862.762957
669,ED50963,california,F,High School or Below,268886.40,32808.0,68.0,1.0,Personal Auto,Four-Door Car,541.695658
709,NZ15548,oregon,M,Bachelor,402381.44,41833.0,103.0,1.0,Personal Auto,Four-Door Car,643.826716
788,TE13577,oregon,F,College,231973.59,0.0,64.0,1.0,Personal Auto,Four-Door Car,632.715382
853,TV25678,washington,M,College,354090.43,0.0,101.0,1.0,Personal Auto,SUV,727.200000
891,KJ87930,california,F,Bachelor,388650.48,0.0,112.0,1.0,Corporate Auto,SUV,1185.988301
908,XM72420,arizona,F,High School or Below,391936.67,66676.0,97.0,1.0,Personal Auto,Four-Door Car,558.099357
949,TD10493,oregon,F,High School or Below,289873.27,0.0,96.0,1.0,Personal Auto,Four-Door Car,691.200000
1019,OT52034,california,M,Bachelor,386477.68,24204.0,99.0,1.0,Personal Auto,Four-Door Car,707.303416
1022,UI73201,california,M,College,366737.50,62375.0,92.0,1.0,Personal Auto,Two-Door Car,618.630955
1068,GS98873,arizona,F,Bachelor,323912.47,16061.0,88.0,1.0,Personal Auto,Four-Door Car,633.600000