# Lab | Data Cleaning and Formatting

Objective: Apply Python programming to perform data cleaning and formatting, including identifying and handling with missing values, duplicates, outliers, errors, and using various formatting techniques such as changing data types, renaming columns, and handling string values, to prepare data for analysis.

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

# Challenge 1: Data Cleaning and Formatting

## Exercise 1: Cleaning Column Names

To ensure consistency and ease of use, standardize the column names of the dataframe. Start by taking a first look at the dataframe and identifying any column names that need to be modified. Use appropriate naming conventions and make sure that column names are descriptive and informative.

In [3]:
import pandas as pd
data_url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv"
df = pd.read_csv(data_url)

In [4]:
print("Current column names:")
print(df.columns)

Current column names:
Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')

In [5]:
df.columns = df.columns.str.lower().str.replace(" ", "_")

In [6]:
print("\nModified column names:")
print(df.columns)

Modified column names:
Index(['customer', 'st', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'vehicle_class', 'total_claim_amount'],
      dtype='object')

## Exercise 2: Cleaning invalid Values

The dataset contains columns with inconsistent and incorrect values that could affect the accuracy of our analysis. Therefore, we need to clean these columns to ensure that they contain only valid data. For example, the gender column contains various inconsistent values such as "F", "M", "Femal", "Male", "female", which need to be standardized.

Note that this exercise will focus only on cleaning inconsistent values and will not involve handling null values (NaN or None).

In [10]:
def standardize_gender(gender):
    gender = str(gender).strip().lower()
    if gender.startswith("f"):
        return "Female"
    elif gender.startswith("m"):
        return "Male"
    else:
        return gender

In [11]:
df["gender"] = df["gender"].apply(standardize_gender)

In [12]:
print(df["gender"].unique())

['nan' 'Female' 'Male']

## Exercise 3: Formatting data types

The data types of many columns in the dataset appear to be incorrect. This could impact the accuracy of our analysis. To ensure accurate analysis, we need to correct the data types of these columns. Please update the data types of the columns as appropriate.

It is important to note that this exercise does not involve handling null values (NaN or None).

In [14]:
df.columns = df.columns.str.lower().str.replace(" ", "_")

In [20]:
df['customer_lifetime_value'] = df['customer_lifetime_value'].str.replace('%', '').astype(float)

In [16]:
df['income'] = df['income'].astype(float)

In [17]:
df['monthly_premium_auto'] = df['monthly_premium_auto'].astype(float)

In [21]:
df['number_of_open_complaints'] = df['number_of_open_complaints'].replace('1/0/00', 0)

In [19]:
df['total_claim_amount'] = df['total_claim_amount'].astype(float)

In [22]:
print(df.dtypes)

customer                      object
st                            object
gender                        object
education                     object
customer_lifetime_value      float64
income                       float64
monthly_premium_auto         float64
number_of_open_complaints     object
policy_type                   object
vehicle_class                 object
total_claim_amount           float64
dtype: object

## Exercise 4: Dealing with Null values

Identify any columns with null or missing values. Identify how many null values each column has. You can use the isnull() function in pandas to find columns with null values.

Decide on a strategy for handling the null values. There are several options, including:

- Drop the rows or columns with null values
- Fill the null values with a specific value (such as the column mean or median for numerical variables and mode for categorical variables)
- Fill the null values with the previous or next value in the column
- Fill the null values based on a more complex algorithm or model (we haven't studied this yet)

Implement your chosen strategy to handle the null values. You can use the fillna() function in pandas to fill null values or dropna() function to drop null values.

Verify that your strategy has successfully handled the null values. You can use the isnull() function again to check if there are still null values in the dataset.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling null values.

After formatting data types, as a last step, convert all the numeric variables to integers using applymap.

Save the cleaned dataset to a new CSV file.

In [23]:
null_counts = df.isnull().sum()

In [24]:
numeric_columns = df.select_dtypes(include=['int64', 'float64']).columns
df[numeric_columns] = df[numeric_columns].fillna(df[numeric_columns].mean())

In [25]:
df[numeric_columns] = df[numeric_columns].applymap(int)

In [26]:
print(df.isnull().sum())

customer                     2937
st                           2937
gender                          0
education                    2937
customer_lifetime_value         0
income                          0
monthly_premium_auto            0
number_of_open_complaints    2937
policy_type                  2937
vehicle_class                2937
total_claim_amount              0
dtype: int64

In [27]:
cleaned_data_path = "cleaned_data.csv"
df.to_csv(cleaned_data_path, index=False)

In [28]:
print("Data cleaning and handling null values completed. Cleaned data saved to 'cleaned_data.csv'.")

Data cleaning and handling null values completed. Cleaned data saved to 'cleaned_data.csv'.

## Exercise 5: Dealing with duplicates

Use the .duplicated() method to identify any duplicate rows in the dataframe.

Decide on a strategy for handling the duplicates. Options include:
- Dropping all duplicate rows
- Keeping only the first occurrence of each duplicated row
- Keeping only the last occurrence of each duplicated row
- Dropping duplicates based on a subset of columns
- Dropping duplicates based on a specific column

Implement your chosen strategy using the drop_duplicates() function.

Verify that your strategy has successfully handled the duplicates by checking for duplicates again using .duplicated().

Remember to document your process and explain your reasoning for choosing a particular strategy for handling duplicates.

Save the cleaned dataset to a new CSV file.

In [29]:
df = df.drop_duplicates()

In [30]:
print(df.duplicated().sum())

0

# Challenge 2: creating functions on a separate `py` file

Put all the data cleaning and formatting steps into functions, and create a main function that performs all the cleaning and formatting. 

Write these functions in a separate .py file(s). By putting these steps into functions, we can make the code more modular and easier to maintain.

*Hint: autoreload module is a utility module in Python that allows you to automatically reload modules in the current session when changes are made to the source code. This can be useful in situations where you are actively developing code and want to see the effects of changes you make without having to constantly restart the Python interpreter or Jupyter Notebook kernel.*

# Challenge 3: Analyzing Clean and Formated Data

You have been tasked with analyzing the data to identify potential areas for improving customer retention and profitability. Your goal is to identify customers with a high policy claim amount and a low customer lifetime value.

In Pandas Lab, we only looked at high policy claim amounts because we couldn't look into low customer lifetime values. If we tried to do work with that column, we wouldn't have been able to do it because customer lifetime value wasn't clean and in its proper format. So after cleaning and formatting the data, lets get some more interesting insights!

Instructions:

- Review again the statistics for total claim amount and customer lifetime value to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount and a low customer lifetime value. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount, and clients with a low customer lifetime value to be those in the bottom 25% of the customer lifetime value. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile and a customer lifetime value in the bottom 25th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount and low customer lifetime value data. To do so, select both columns of the dataframe simultaneously and pass it to the .describe() method. This will give you descriptive statistics, such as mean, median, standard deviation, minimum and maximum values for both columns at the same time, allowing you to compare and analyze their characteristics.

In [36]:
cleaned_data_path = "cleaned_data.csv"
df = pd.read_csv(cleaned_data_path)

In [37]:
total_claim_75th_percentile = df['total_claim_amount'].quantile(0.75)
customer_lifetime_value_25th_percentile = df['customer_lifetime_value'].quantile(0.25)

In [38]:
high_claim_low_clv_df = df[
    (df['total_claim_amount'] > total_claim_75th_percentile) & 
    (df['customer_lifetime_value'] < customer_lifetime_value_25th_percentile)]

In [35]:
summary_statistics = high_claim_low_clv_df[['total_claim_amount', 'customer_lifetime_value']].describe()
print(summary_statistics)

       total_claim_amount  customer_lifetime_value
count           40.000000                40.000000
mean           723.300000            341577.425000
std            149.216449             56921.466178
min            537.000000            228759.000000
25%            632.750000            304220.500000
50%            685.000000            365995.000000
75%            799.000000            387364.000000
max           1185.000000            402381.000000