# Lab | Data Cleaning and Formatting

Objective: Apply Python programming to perform data cleaning and formatting, including identifying and handling with missing values, duplicates, outliers, errors, and using various formatting techniques such as changing data types, renaming columns, and handling string values, to prepare data for analysis.

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

# Challenge 1: Data Cleaning and Formatting

## Exercise 1: Cleaning Column Names

To ensure consistency and ease of use, standardize the column names of the dataframe. Start by taking a first look at the dataframe and identifying any column names that need to be modified. Use appropriate naming conventions and make sure that column names are descriptive and informative.

In [36]:
import pandas as pd
import numpy as np

In [37]:
insurance_company= pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv")

In [38]:
display(insurance_company)

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
4003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [39]:
insurance_company.head(3)

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247

In [40]:
insurance_company.columns

Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')

In [41]:
def cleaning_column_names(insurance_company):
    insurance_company = insurance_company.rename(columns = {'ST':'State', 'GENDER':'Gender'})
    return insurance_company

In [42]:
insurance_company = cleaning_column_names(insurance_company)

In [43]:
insurance_company.head(3)

,Customer,State,Gender,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247

## Exercise 2: Cleaning invalid Values

The dataset contains columns with inconsistent and incorrect values that could affect the accuracy of our analysis. Therefore, we need to clean these columns to ensure that they contain only valid data. For example, the gender column contains various inconsistent values such as "F", "M", "Femal", "Male", "female", which need to be standardized.

Note that this exercise will focus only on cleaning inconsistent values and will not involve handling null values (NaN or None).

In [44]:
insurance_company.columns
list(insurance_company.columns)

['Customer',
 'State',
 'Gender',
 'Education',
 'Customer Lifetime Value',
 'Income',
 'Monthly Premium Auto',
 'Number of Open Complaints',
 'Policy Type',
 'Vehicle Class',
 'Total Claim Amount']

In [45]:
insurance_company['Gender'].unique()

array([nan, 'F', 'M', 'Femal', 'Male', 'female'], dtype=object)

In [46]:
insurance_company['Number of Open Complaints'].unique()

array(['1/0/00', '1/2/00', '1/1/00', '1/3/00', '1/5/00', '1/4/00', nan],
      dtype=object)

In [47]:
insurance_company['Customer Lifetime Value'].unique()

array([nan, '697953.59%', '1288743.17%', ..., '2031499.76%', '323912.47%',
       '899704.02%'], dtype=object)

In [48]:
def standardized_gender(row):
    if type(row['Gender']) != float:
        if row['Gender'] == 'Male':
            return 'M'
        elif row['Gender'] == 'female' or row['Gender'] == 'Femal':
            return 'F'
        else:
            return row['Gender']


def standardized_complaints(row):
    if type(row['Number of Open Complaints']) == str:
        return int(row['Number of Open Complaints'].split('/')[1])
    else:
        return row['Number of Open Complaints']


def standardized_lifetime_value(row):
    if type(row['Customer Lifetime Value']) == str:
        return float(row['Customer Lifetime Value'].strip('%'))/100
    else:
        return row['Customer Lifetime Value']

In [49]:
insurance_company['Gender'] = insurance_company.apply(standardized_gender, axis=1)
insurance_company['Number of Open Complaints'] = insurance_company.apply(standardized_complaints, axis=1)
insurance_company['Customer Lifetime Value'] = insurance_company.apply(standardized_lifetime_value, axis=1)

In [50]:
insurance_company['Gender'].unique()

array([None, 'F', 'M'], dtype=object)

In [51]:
insurance_company['Number of Open Complaints'].unique()

array([ 0.,  2.,  1.,  3.,  5.,  4., nan])

In [52]:
insurance_company['Customer Lifetime Value'].unique()

array([       nan,  6979.5359, 12887.4317, ..., 20314.9976,  3239.1247,
        8997.0402])

## Exercise 3: Formatting data types

The data types of many columns in the dataset appear to be incorrect. This could impact the accuracy of our analysis. To ensure accurate analysis, we need to correct the data types of these columns. Please update the data types of the columns as appropriate.

It is important to note that this exercise does not involve handling null values (NaN or None).

In [53]:
insurance_company.head(3)

,Customer,State,Gender,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,None,Master,NaN,0.0,1000.0,0.0,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,6979.5359,0.0,94.0,0.0,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,12887.4317,48767.0,108.0,0.0,Personal Auto,Two-Door Car,566.472247

In [54]:
insurance_company.dtypes

Customer                      object
State                         object
Gender                        object
Education                     object
Customer Lifetime Value      float64
Income                       float64
Monthly Premium Auto         float64
Number of Open Complaints    float64
Policy Type                   object
Vehicle Class                 object
Total Claim Amount           float64
dtype: object

## Exercise 4: Dealing with Null values

Identify any columns with null or missing values. Identify how many null values each column has. You can use the isnull() function in pandas to find columns with null values.

Decide on a strategy for handling the null values. There are several options, including:

- Drop the rows or columns with null values
- Fill the null values with a specific value (such as the column mean or median for numerical variables and mode for categorical variables)
- Fill the null values with the previous or next value in the column
- Fill the null values based on a more complex algorithm or model (we haven't studied this yet)

Implement your chosen strategy to handle the null values. You can use the fillna() function in pandas to fill null values or dropna() function to drop null values.

Verify that your strategy has successfully handled the null values. You can use the isnull() function again to check if there are still null values in the dataset.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling null values.

After formatting data types, as a last step, convert all the numeric variables to integers using applymap.

Save the cleaned dataset to a new CSV file.

In [55]:
insurance_company_null = insurance_company.isnull().sum() #n.Âº NullValues of rows
insurance_company_null[insurance_company_null>0]

Customer                     2937
State                        2937
Gender                       3054
Education                    2937
Customer Lifetime Value      2940
Income                       2937
Monthly Premium Auto         2937
Number of Open Complaints    2937
Policy Type                  2937
Vehicle Class                2937
Total Claim Amount           2937
dtype: int64

In [56]:
insurance_company_cleaned = insurance_company.dropna()

In [57]:
insurance_company_cleaned

,Customer,State,Gender,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
1,QZ44356,Arizona,F,Bachelor,6979.5359,0.0,94.0,0.0,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,12887.4317,48767.0,108.0,0.0,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,7645.8618,0.0,106.0,0.0,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,5363.0765,36357.0,68.0,0.0,Personal Auto,Four-Door Car,17.269323
5,OC83172,Oregon,F,Bachelor,8256.2978,62902.0,69.0,0.0,Personal Auto,Two-Door Car,159.383042
...,...,...,...,...,...,...,...,...,...,...,...
1066,TM65736,Oregon,M,Master,3059.5503,38644.0,78.0,1.0,Personal Auto,Four-Door Car,361.455219
1067,VJ51327,Cali,F,High School or Below,20314.9976,63209.0,102.0,2.0,Personal Auto,SUV,207.320041
1068,GS98873,Arizona,F,Bachelor,3239.1247,16061.0,88.0,0.0,Personal Auto,Four-Door Car,633.600000
1069,CW49887,California,F,Master,4626.8011,79487.0,114.0,0.0,Special Auto,SUV,547.200000
1070,MY31220,California,F,College,8997.0402,54230.0,112.0,0.0,Personal Auto,Two-Door Car,537.600000

In [58]:
insurance_company_cleaned.dtypes

Customer                      object
State                         object
Gender                        object
Education                     object
Customer Lifetime Value      float64
Income                       float64
Monthly Premium Auto         float64
Number of Open Complaints    float64
Policy Type                   object
Vehicle Class                 object
Total Claim Amount           float64
dtype: object

In [59]:
def convert_to_integer(x):
    try:
        return int(x)
    except:
        return x


numeric_columns = ['Customer Lifetime Value', 'Income', 'Monthly Premium Auto', 'Number of Open Complaints', 'Total Claim Amount']

insurance_company_cleaned_copy = insurance_company_cleaned.copy()

insurance_company_cleaned_copy.loc[:, numeric_columns] = insurance_company_cleaned_copy[numeric_columns].applymap(convert_to_integer)

print(insurance_company_cleaned_copy.dtypes)

Customer                     object
State                        object
Gender                       object
Education                    object
Customer Lifetime Value       int64
Income                        int64
Monthly Premium Auto          int64
Number of Open Complaints     int64
Policy Type                  object
Vehicle Class                object
Total Claim Amount            int64
dtype: object

C:\Users\USER\AppData\Local\Temp\ipykernel_22360\2465125024.py:12: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  insurance_company_cleaned_copy.loc[:, numeric_columns] = insurance_company_cleaned_copy[numeric_columns].applymap(convert_to_integer)

In [60]:
print(insurance_company_cleaned_copy.head())

  Customer       State Gender             Education  Customer Lifetime Value  \
1  QZ44356     Arizona      F              Bachelor                     6979
2  AI49188      Nevada      F              Bachelor                    12887
3  WW63253  California      M              Bachelor                     7645
4  GA49547  Washington      M  High School or Below                     5363
5  OC83172      Oregon      F              Bachelor                     8256

   Income  Monthly Premium Auto  Number of Open Complaints     Policy Type  \
1       0                    94                          0   Personal Auto
2   48767                   108                          0   Personal Auto
3       0                   106                          0  Corporate Auto
4   36357                    68                          0   Personal Auto
5   62902                    69                          0   Personal Auto

   Vehicle Class  Total Claim Amount
1  Four-Door Car                1131
2   Two-Door Car                 566
3            SUV                 529
4  Four-Door Car                  17
5   Two-Door Car                 159

In [61]:
file_path = r'C:\Users\USER\Desktop\Ana\Ironhack\Week 2\Day 3 - 19.07.23\LAB\data-cleaning-and-formatting\lab-dw-data-cleaning-and-formatting/insurance_company_cleaned.csv'
insurance_company_cleaned_copy.to_csv(file_path, index=False)

## Exercise 5: Dealing with duplicates

Use the .duplicated() method to identify any duplicate rows in the dataframe.

Decide on a strategy for handling the duplicates. Options include:
- Dropping all duplicate rows
- Keeping only the first occurrence of each duplicated row
- Keeping only the last occurrence of each duplicated row
- Dropping duplicates based on a subset of columns
- Dropping duplicates based on a specific column

Implement your chosen strategy using the drop_duplicates() function.

Verify that your strategy has successfully handled the duplicates by checking for duplicates again using .duplicated().

Remember to document your process and explain your reasoning for choosing a particular strategy for handling duplicates.

Save the cleaned dataset to a new CSV file.

In [62]:
insurance_company_cleaned.shape

(952, 11)

In [63]:
insurance_company_cleaned.duplicated().any()

False

# Challenge 2: creating functions on a separate `py` file

Put all the data cleaning and formatting steps into functions, and create a main function that performs all the cleaning and formatting. 

Write these functions in a separate .py file(s). By putting these steps into functions, we can make the code more modular and easier to maintain.

*Hint: autoreload module is a utility module in Python that allows you to automatically reload modules in the current session when changes are made to the source code. This can be useful in situations where you are actively developing code and want to see the effects of changes you make without having to constantly restart the Python interpreter or Jupyter Notebook kernel.*

In [64]:
def cleaning_column_names(insurance_company):
    insurance_company = insurance_company.rename(columns = {'ST':'State', 'GENDER':'Gender'})
    return insurance_company

def standardized_gender(row):
    if type(row['Gender']) != float:
        if row['Gender'] == 'Male':
            return 'M'
        elif row['Gender'] == 'female' or row['Gender'] == 'Femal':
            return 'F'
        else:
            return row['Gender']


def standardized_complaints(row):
    if type(row['Number of Open Complaints']) == str:
        return int(row['Number of Open Complaints'].split('/')[1])
    else:
        return row['Number of Open Complaints']


def standardized_lifetime_value(row):
    if type(row['Customer Lifetime Value']) == str:
        return float(row['Customer Lifetime Value'].strip('%'))/100
    else:
        return row['Customer Lifetime Value']

def replace_null_values(df, column, replacement):
    df[column].fillna(replacement, inplace=True)

def convert_to_integer(x):
    try:
        return int(x)
    except:
        return x

# Challenge 3: Analyzing Clean and Formated Data

You have been tasked with analyzing the data to identify potential areas for improving customer retention and profitability. Your goal is to identify customers with a high policy claim amount and a low customer lifetime value.

In Pandas Lab, we only looked at high policy claim amounts because we couldn't look into low customer lifetime values. If we tried to do work with that column, we wouldn't have been able to do it because customer lifetime value wasn't clean and in its proper format. So after cleaning and formatting the data, lets get some more interesting insights!

Instructions:

- Review again the statistics for total claim amount and customer lifetime value to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount and a low customer lifetime value. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount, and clients with a low customer lifetime value to be those in the bottom 25% of the customer lifetime value. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile and a customer lifetime value in the bottom 25th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount and low customer lifetime value data. To do so, select both columns of the dataframe simultaneously and pass it to the .describe() method. This will give you descriptive statistics, such as mean, median, standard deviation, minimum and maximum values for both columns at the same time, allowing you to compare and analyze their characteristics.

In [65]:
insurance_company_cleaned

,Customer,State,Gender,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
1,QZ44356,Arizona,F,Bachelor,6979.5359,0.0,94.0,0.0,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,12887.4317,48767.0,108.0,0.0,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,7645.8618,0.0,106.0,0.0,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,5363.0765,36357.0,68.0,0.0,Personal Auto,Four-Door Car,17.269323
5,OC83172,Oregon,F,Bachelor,8256.2978,62902.0,69.0,0.0,Personal Auto,Two-Door Car,159.383042
...,...,...,...,...,...,...,...,...,...,...,...
1066,TM65736,Oregon,M,Master,3059.5503,38644.0,78.0,1.0,Personal Auto,Four-Door Car,361.455219
1067,VJ51327,Cali,F,High School or Below,20314.9976,63209.0,102.0,2.0,Personal Auto,SUV,207.320041
1068,GS98873,Arizona,F,Bachelor,3239.1247,16061.0,88.0,0.0,Personal Auto,Four-Door Car,633.600000
1069,CW49887,California,F,Master,4626.8011,79487.0,114.0,0.0,Special Auto,SUV,547.200000
1070,MY31220,California,F,College,8997.0402,54230.0,112.0,0.0,Personal Auto,Two-Door Car,537.600000

In [66]:
insurance_company_cleaned.describe()

,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Total Claim Amount
count,952.000000,952.000000,952.000000,952.000000,952.000000
mean,7942.012863,39557.350840,205.231092,0.378151,404.999156
std,6258.791614,30744.561851,1697.752504,0.872446,299.238726
min,2004.350700,0.000000,61.000000,0.000000,0.382107
25%,4117.835800,13087.750000,68.000000,0.000000,196.724587
50%,5885.745300,36632.000000,83.000000,0.000000,350.400000
75%,9037.509150,65085.500000,110.000000,0.000000,534.000000
max,44795.469400,99960.000000,35354.000000,5.000000,2893.239678

In [67]:
# Calculate the 75th percentile for "Total Claim Amount"
high_policy_claim_threshold = insurance_company_cleaned["Total Claim Amount"].quantile(0.75)

#Calculate the 25th percentile for "Customer Lifetime Value"
low_customer_lifetime_value_threshold = insurance_company_cleaned["Customer Lifetime Value"].quantile(0.25)

# DataFrame with customers meeting the criteria
high_claim_low_value_customers = insurance_company_cleaned[(insurance_company_cleaned["Total Claim Amount"] > high_policy_claim_threshold) & 
                                    (insurance_company_cleaned["Customer Lifetime Value"] < low_customer_lifetime_value_threshold)]

     Customer       State Gender             Education  \
140   DS81757      Oregon      M               College
158   KA61892     Arizona      M               College
160   ND87334  California      M  High School or Below
170   TS19868  California      M               College
179   HH90090  California      F              Bachelor
184   AB13432  California      M              Bachelor
204   FL34139  California      M  High School or Below
250   IA63417     Arizona      F  High School or Below
269   VZ51506     Arizona      F  High School or Below
279   OH60605      Oregon      F  High School or Below
304   RR77985      Oregon      F              Bachelor
388   JF36291  California      M               College
415   ZF84449      Oregon      F               College
448   NL93182      Nevada      M              Bachelor
450   WE68644      Oregon      F              Bachelor
467   AU96286      Oregon      F              Bachelor
473   QK31192          AZ      M  High School or Below
486   FY51713          AZ      F              Bachelor
500   XN11823      Nevada      F              Bachelor
502   PX17116      Nevada      M               College
565   XS12556  California      F               College
590   UK41984     Arizona      F                Doctor
593   ZK21724      Oregon      F  High School or Below
638   DM95829  California      M               College
645   JA41698      Nevada      M              Bachelor
669   ED50963  California      F  High School or Below
709   NZ15548      Oregon      M              Bachelor
788   TE13577      Oregon      F               College
853   TV25678          WA      M               College
891   KJ87930        Cali      F              Bachelor
908   XM72420     Arizona      F  High School or Below
949   TD10493      Oregon      F  High School or Below
1019  OT52034        Cali      M              Bachelor
1022  UI73201        Cali      M               College
1068  GS98873     Arizona      F              Bachelor

      Customer Lifetime Value   Income  Monthly Premium Auto  \
140                 2470.1212      0.0                  74.0
158                 3873.6470  28142.0                 105.0
160                 2287.5969      0.0                  63.0
170                 2413.1397  27501.0                  63.0
179                 4076.6347  29549.0                 104.0
184                 3735.8381      0.0                 110.0
204                 3688.1109      0.0                  63.0
250                 4001.5191  19782.0                 108.0
269                 3595.3129      0.0                 103.0
279                 3652.5324  39679.0                  92.0
304                 2887.7423      0.0                  80.0
388                 3873.6470  28142.0                 105.0
415                 3726.7280      0.0                 112.0
448                 2549.4500      0.0                  78.0
450                 3803.9218  20325.0                 100.0
467                 3167.6584      0.0                  92.0
473                 4079.1327      0.0                 114.0
486                 3570.7605  56168.0                  88.0
500                 3764.4651  92600.0                  94.0
502                 3623.4542      0.0                 111.0
565                 3683.0999      0.0                 101.0
590                 3839.6061      0.0                 112.0
593                 4016.5420      0.0                 111.0
638                 2523.9596  16244.0                  68.0
645                 3099.5380      0.0                 102.0
669                 2688.8640  32808.0                  68.0
709                 4023.8144  41833.0                 103.0
788                 2319.7359      0.0                  64.0
853                 3540.9043      0.0                 101.0
891                 3886.5048      0.0                 112.0
908                 3919.3667  66676.0                  97.0
949                 2898.7327      0.0                  96.0
1019                3864.7768  24204.0                  99.0
1022                3667.3750  62375.0                  92.0
1068                3239.1247  16061.0                  88.0

      Number of Open Complaints     Policy Type  Vehicle Class  \
140                         0.0   Personal Auto   Two-Door Car
158                         0.0   Personal Auto     Sports Car
160                         0.0  Corporate Auto   Two-Door Car
170                         0.0   Personal Auto  Four-Door Car
179                         0.0   Personal Auto     Sports Car
184                         0.0   Personal Auto            SUV
204                         3.0   Personal Auto  Four-Door Car
250                         0.0   Personal Auto   Two-Door Car
269                         0.0  Corporate Auto     Sports Car
279                         0.0   Personal Auto   Two-Door Car
304                         0.0   Personal Auto  Four-Door Car
388                         0.0   Personal Auto     Sports Car
415                         1.0    Special Auto     Sports Car
448                         0.0  Corporate Auto  Four-Door Car
450                         0.0   Personal Auto     Sports Car
467                         0.0  Corporate Auto  Four-Door Car
473                         0.0  Corporate Auto   Two-Door Car
486                         0.0   Personal Auto  Four-Door Car
500                         0.0  Corporate Auto   Two-Door Car
502                         2.0  Corporate Auto            SUV
565                         0.0  Corporate Auto     Sports Car
590                         2.0   Personal Auto            SUV
593                         0.0   Personal Auto            SUV
638                         0.0   Personal Auto   Two-Door Car
645                         5.0  Corporate Auto            SUV
669                         1.0   Personal Auto  Four-Door Car
709                         0.0   Personal Auto  Four-Door Car
788                         0.0   Personal Auto  Four-Door Car
853                         0.0   Personal Auto            SUV
891                         0.0  Corporate Auto            SUV
908                         0.0   Personal Auto  Four-Door Car
949                         4.0   Personal Auto  Four-Door Car
1019                        1.0   Personal Auto  Four-Door Car
1022                        0.0   Personal Auto   Two-Door Car
1068                        0.0   Personal Auto  Four-Door Car

      Total Claim Amount
140           721.242206
158           701.708239
160           679.368378
170           542.319401
179           710.433775
184           792.000000
204           669.682001
250           773.470977
269           741.600000
279           641.388616
304           676.944023
388           701.708239
415           806.400000
448           845.654042
450           668.293970
467           662.400000
473           631.124372
486           614.675906
500           842.437850
502          1171.931170
565           564.466556
590           537.600000
593           799.200000
638           623.223617
645           862.762957
669           541.695658
709           643.826716
788           632.715382
853           727.200000
891          1185.988301
908           558.099357
949           691.200000
1019          707.303416
1022          618.630955
1068          633.600000

In [69]:
high_claim_low_value_customers

,Customer,State,Gender,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
140,DS81757,Oregon,M,College,2470.1212,0.0,74.0,0.0,Personal Auto,Two-Door Car,721.242206
158,KA61892,Arizona,M,College,3873.6470,28142.0,105.0,0.0,Personal Auto,Sports Car,701.708239
160,ND87334,California,M,High School or Below,2287.5969,0.0,63.0,0.0,Corporate Auto,Two-Door Car,679.368378
170,TS19868,California,M,College,2413.1397,27501.0,63.0,0.0,Personal Auto,Four-Door Car,542.319401
179,HH90090,California,F,Bachelor,4076.6347,29549.0,104.0,0.0,Personal Auto,Sports Car,710.433775
184,AB13432,California,M,Bachelor,3735.8381,0.0,110.0,0.0,Personal Auto,SUV,792.000000
204,FL34139,California,M,High School or Below,3688.1109,0.0,63.0,3.0,Personal Auto,Four-Door Car,669.682001
250,IA63417,Arizona,F,High School or Below,4001.5191,19782.0,108.0,0.0,Personal Auto,Two-Door Car,773.470977
269,VZ51506,Arizona,F,High School or Below,3595.3129,0.0,103.0,0.0,Corporate Auto,Sports Car,741.600000
279,OH60605,Oregon,F,High School or Below,3652.5324,39679.0,92.0,0.0,Personal Auto,Two-Door Car,641.388616
304,RR77985,Oregon,F,Bachelor,2887.7423,0.0,80.0,0.0,Personal Auto,Four-Door Car,676.944023
388,JF36291,California,M,College,3873.6470,28142.0,105.0,0.0,Personal Auto,Sports Car,701.708239
415,ZF84449,Oregon,F,College,3726.7280,0.0,112.0,1.0,Special Auto,Sports Car,806.400000
448,NL93182,Nevada,M,Bachelor,2549.4500,0.0,78.0,0.0,Corporate Auto,Four-Door Car,845.654042
450,WE68644,Oregon,F,Bachelor,3803.9218,20325.0,100.0,0.0,Personal Auto,Sports Car,668.293970
467,AU96286,Oregon,F,Bachelor,3167.6584,0.0,92.0,0.0,Corporate Auto,Four-Door Car,662.400000
473,QK31192,AZ,M,High School or Below,4079.1327,0.0,114.0,0.0,Corporate Auto,Two-Door Car,631.124372
486,FY51713,AZ,F,Bachelor,3570.7605,56168.0,88.0,0.0,Personal Auto,Four-Door Car,614.675906
500,XN11823,Nevada,F,Bachelor,3764.4651,92600.0,94.0,0.0,Corporate Auto,Two-Door Car,842.437850
502,PX17116,Nevada,M,College,3623.4542,0.0,111.0,2.0,Corporate Auto,SUV,1171.931170
565,XS12556,California,F,College,3683.0999,0.0,101.0,0.0,Corporate Auto,Sports Car,564.466556
590,UK41984,Arizona,F,Doctor,3839.6061,0.0,112.0,2.0,Personal Auto,SUV,537.600000
593,ZK21724,Oregon,F,High School or Below,4016.5420,0.0,111.0,0.0,Personal Auto,SUV,799.200000
638,DM95829,California,M,College,2523.9596,16244.0,68.0,0.0,Personal Auto,Two-Door Car,623.223617
645,JA41698,Nevada,M,Bachelor,3099.5380,0.0,102.0,5.0,Corporate Auto,SUV,862.762957
669,ED50963,California,F,High School or Below,2688.8640,32808.0,68.0,1.0,Personal Auto,Four-Door Car,541.695658
709,NZ15548,Oregon,M,Bachelor,4023.8144,41833.0,103.0,0.0,Personal Auto,Four-Door Car,643.826716
788,TE13577,Oregon,F,College,2319.7359,0.0,64.0,0.0,Personal Auto,Four-Door Car,632.715382
853,TV25678,WA,M,College,3540.9043,0.0,101.0,0.0,Personal Auto,SUV,727.200000
891,KJ87930,Cali,F,Bachelor,3886.5048,0.0,112.0,0.0,Corporate Auto,SUV,1185.988301
908,XM72420,Arizona,F,High School or Below,3919.3667,66676.0,97.0,0.0,Personal Auto,Four-Door Car,558.099357
949,TD10493,Oregon,F,High School or Below,2898.7327,0.0,96.0,4.0,Personal Auto,Four-Door Car,691.200000
1019,OT52034,Cali,M,Bachelor,3864.7768,24204.0,99.0,1.0,Personal Auto,Four-Door Car,707.303416
1022,UI73201,Cali,M,College,3667.3750,62375.0,92.0,0.0,Personal Auto,Two-Door Car,618.630955
1068,GS98873,Arizona,F,Bachelor,3239.1247,16061.0,88.0,0.0,Personal Auto,Four-Door Car,633.600000

In [70]:
high_claim_low_value_customers.describe()

,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Total Claim Amount
count,35.000000,35.000000,35.000000,35.000000,35.000000
mean,3430.095937,17202.542857,93.514286,0.542857,712.065602
std,575.409243,23785.031467,16.453806,1.220965,145.436339
min,2287.596900,0.000000,63.000000,0.000000,537.600000
25%,2999.135350,0.000000,84.000000,0.000000,631.919877
50%,3667.375000,0.000000,99.000000,0.000000,679.368378
75%,3869.211900,28142.000000,105.000000,0.000000,757.535488
max,4079.132700,92600.000000,114.000000,5.000000,1185.988301