# Lab | Data Cleaning and Formatting

Objective: Apply Python programming to perform data cleaning and formatting, including identifying and handling with missing values, duplicates, outliers, errors, and using various formatting techniques such as changing data types, renaming columns, and handling string values, to prepare data for analysis.

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

# Challenge 1: Data Cleaning and Formatting

## Exercise 1: Cleaning Column Names

To ensure consistency and ease of use, standardize the column names of the dataframe. Start by taking a first look at the dataframe and identifying any column names that need to be modified. Use appropriate naming conventions and make sure that column names are descriptive and informative.

In [1]:
# Your code here

import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv')

In [2]:
df.head()

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4008 entries, 0 to 4007
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Customer                   1071 non-null   object
 1   ST                         1071 non-null   object
 2   GENDER                     954 non-null    object
 3   Education                  1071 non-null   object
 4   Customer Lifetime Value    1068 non-null   object
 5   Income                     1071 non-null   float64
 6   Monthly Premium Auto       1071 non-null   float64
 7   Number of Open Complaints  1071 non-null   object
 8   Policy Type                1071 non-null   object
 9   Vehicle Class              1071 non-null   object
 10  Total Claim Amount         1071 non-null   float64
dtypes: float64(3), object(8)
memory usage: 344.6+ KB

In [4]:
new_col_names = [name.strip().lower().replace(' ', '_') for name in df.columns]
new_col_names = ['state' if name == 'st' else name for name in new_col_names]
df.columns = new_col_names

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4008 entries, 0 to 4007
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customer                   1071 non-null   object
 1   state                      1071 non-null   object
 2   gender                     954 non-null    object
 3   education                  1071 non-null   object
 4   customer_lifetime_value    1068 non-null   object
 5   income                     1071 non-null   float64
 6   monthly_premium_auto       1071 non-null   float64
 7   number_of_open_complaints  1071 non-null   object
 8   policy_type                1071 non-null   object
 9   vehicle_class              1071 non-null   object
 10  total_claim_amount         1071 non-null   float64
dtypes: float64(3), object(8)
memory usage: 344.6+ KB

## Exercise 2: Cleaning invalid Values

The dataset contains columns with inconsistent and incorrect values that could affect the accuracy of our analysis. Therefore, we need to clean these columns to ensure that they contain only valid data. For example, the gender column contains various inconsistent values such as "F", "M", "Femal", "Male", "female", which need to be standardized.

Note that this exercise will focus only on cleaning inconsistent values and will not involve handling null values (NaN or None).

In [6]:
# column names --> make them all lower case and replace ' ' with '_'
# 
# gender null values --> replace with 'O' ('other')
# gender --> everything that is not 'O' consolidate to 'M' or 'F'
# education null values --> replace with 'other'
# number of open complaints --> force to numeric
# drop all rows with nan

In [7]:
df.gender.unique()

array([nan, 'F', 'M', 'Femal', 'Male', 'female'], dtype=object)

In [8]:
def consolidate_gender(row):

    if type(row['gender']) != float:
        if row.gender == 'Male':
            return 'M'
        elif row['gender'] == 'female' or row['gender'] == 'Femal':
            return 'F'
        else:
            return row['gender']
        
df['gender'] = df.apply(consolidate_gender, axis=1)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4008 entries, 0 to 4007
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customer                   1071 non-null   object
 1   state                      1071 non-null   object
 2   gender                     954 non-null    object
 3   education                  1071 non-null   object
 4   customer_lifetime_value    1068 non-null   object
 5   income                     1071 non-null   float64
 6   monthly_premium_auto       1071 non-null   float64
 7   number_of_open_complaints  1071 non-null   object
 8   policy_type                1071 non-null   object
 9   vehicle_class              1071 non-null   object
 10  total_claim_amount         1071 non-null   float64
dtypes: float64(3), object(8)
memory usage: 344.6+ KB

In [9]:
df.gender.value_counts()

F    502
M    452
Name: gender, dtype: int64

## Exercise 3: Formatting data types

The data types of many columns in the dataset appear to be incorrect. This could impact the accuracy of our analysis. To ensure accurate analysis, we need to correct the data types of these columns. Please update the data types of the columns as appropriate.

It is important to note that this exercise does not involve handling null values (NaN or None).

In [10]:
# Your code here

df.dtypes

customer                      object
state                         object
gender                        object
education                     object
customer_lifetime_value       object
income                       float64
monthly_premium_auto         float64
number_of_open_complaints     object
policy_type                   object
vehicle_class                 object
total_claim_amount           float64
dtype: object

In [11]:
df['number_of_open_complaints']=[int(item.split('/')[1]) if type(item) != float else item for item in df['number_of_open_complaints']]

df['customer_lifetime_value']=[float(item.strip('%'))/100 if type(item) != float else item for item in df['customer_lifetime_value']]

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4008 entries, 0 to 4007
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customer                   1071 non-null   object
 1   state                      1071 non-null   object
 2   gender                     954 non-null    object
 3   education                  1071 non-null   object
 4   customer_lifetime_value    1068 non-null   float64
 5   income                     1071 non-null   float64
 6   monthly_premium_auto       1071 non-null   float64
 7   number_of_open_complaints  1071 non-null   float64
 8   policy_type                1071 non-null   object
 9   vehicle_class              1071 non-null   object
 10  total_claim_amount         1071 non-null   float64
dtypes: float64(5), object(6)
memory usage: 344.6+ KB

## Exercise 4: Dealing with Null values

Identify any columns with null or missing values. Identify how many null values each column has. You can use the isnull() function in pandas to find columns with null values.

Decide on a strategy for handling the null values. There are several options, including:

- Drop the rows or columns with null values
- Fill the null values with a specific value (such as the column mean or median for numerical variables and mode for categorical variables)
- Fill the null values with the previous or next value in the column
- Fill the null values based on a more complex algorithm or model (we haven't studied this yet)

Implement your chosen strategy to handle the null values. You can use the fillna() function in pandas to fill null values or dropna() function to drop null values.

Verify that your strategy has successfully handled the null values. You can use the isnull() function again to check if there are still null values in the dataset.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling null values.

After formatting data types, as a last step, convert all the numeric variables to integers using applymap.

Save the cleaned dataset to a new CSV file.

In [12]:
# Your code here

df['gender'].fillna('O', inplace=True)

# df['number_of_open_complaints'].fillna(0, inplace=True)

df['education'].fillna('other', inplace=True)

# customer_lifetime_value has 3 null value. Its values are strings that looks like percentage
# it is easier to drop those rows, considering that represent less than 0.3% of the dataset

df.dropna(inplace=True)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1068 entries, 1 to 1070
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customer                   1068 non-null   object
 1   state                      1068 non-null   object
 2   gender                     1068 non-null   object
 3   education                  1068 non-null   object
 4   customer_lifetime_value    1068 non-null   float64
 5   income                     1068 non-null   float64
 6   monthly_premium_auto       1068 non-null   float64
 7   number_of_open_complaints  1068 non-null   float64
 8   policy_type                1068 non-null   object
 9   vehicle_class              1068 non-null   object
 10  total_claim_amount         1068 non-null   float64
dtypes: float64(5), object(6)
memory usage: 100.1+ KB

In [14]:
df.to_csv('cleaned_df_01.csv')

## Exercise 5: Dealing with duplicates

Use the .duplicated() method to identify any duplicate rows in the dataframe.

Decide on a strategy for handling the duplicates. Options include:
- Dropping all duplicate rows
- Keeping only the first occurrence of each duplicated row
- Keeping only the last occurrence of each duplicated row
- Dropping duplicates based on a subset of columns
- Dropping duplicates based on a specific column

Implement your chosen strategy using the drop_duplicates() function.

Verify that your strategy has successfully handled the duplicates by checking for duplicates again using .duplicated().

Remember to document your process and explain your reasoning for choosing a particular strategy for handling duplicates.

Save the cleaned dataset to a new CSV file.

In [15]:
# Your code here
df.duplicated().value_counts()

False    1068
dtype: int64

In [16]:
# there are no duplicated values. However, since 'customer' is a primary key, we can assume that any
# duplicated row would be outside the dataset and therefore safe to be dropped

df.customer.nunique()

1068

In [17]:
df.to_csv('cleaned_df_02.csv')

# Challenge 2: creating functions on a separate `py` file

Put all the data cleaning and formatting steps into functions, and create a main function that performs all the cleaning and formatting. 

Write these functions in a separate .py file(s). By putting these steps into functions, we can make the code more modular and easier to maintain.

*Hint: autoreload module is a utility module in Python that allows you to automatically reload modules in the current session when changes are made to the source code. This can be useful in situations where you are actively developing code and want to see the effects of changes you make without having to constantly restart the Python interpreter or Jupyter Notebook kernel.*

In [18]:
# Your code here

def rename_columns(df):
    new_col_names = [name.strip().lower().replace(' ', '_') for name in df.columns]
    new_col_names = ['state' if name == 'st' else name for name in new_col_names]
    df.columns = new_col_names

def consolidate_gender(row):
    if type(row['gender']) != float:
        if row.gender == 'Male':
            return 'M'
        elif row['gender'] == 'female' or row['gender'] == 'Femal':
            return 'F'
        else:
            return row['gender']

# def consolidate_complaints(df, col_name):
#     df[col_name]=[int(item.split('/')[1]) if type(item) != float else item for item in df[col_name]]

def consolidate_complaints(row):
    if type(row['number_of_open_complaints']) == str:
        return int(row['number_of_open_complaints'].split('/')[1])
    else:
        return row['number_of_open_complaints']

# def consolidate_lifetime_value(df, col_name):
#     df[col_name]=[float(item.strip('%'))/100 if type(item) != float else item for item in df[col_name]]

def consolidate_lifetime_value(row):
    if type(row['customer_lifetime_value']) == str:
        return float(row['customer_lifetime_value'].strip('%'))/100
    else:
        return row['customer_lifetime_value']


def replace_null_values(df, column, replacement):
    df[column].fillna(replacement, inplace=True)
    

def main():
    df = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv')
    
    rename_columns(df)
    df['gender'] = df.apply(consolidate_gender, axis=1)
    
#     consolidate_complaints(df,'number_of_open_complaints')
    df['number_of_open_complaints'] = df.apply(consolidate_complaints, axis=1)
    df['customer_lifetime_value'] = df.apply(consolidate_lifetime_value, axis=1)
#     consolidate_lifetime_value(df, 'customer_lifetime_value')
    
    replace_null_values(df, 'gender', 'O')
    replace_null_values(df, 'education', 'other')

    df.dropna(inplace=True)

main()
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1068 entries, 1 to 1070
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customer                   1068 non-null   object
 1   state                      1068 non-null   object
 2   gender                     1068 non-null   object
 3   education                  1068 non-null   object
 4   customer_lifetime_value    1068 non-null   float64
 5   income                     1068 non-null   float64
 6   monthly_premium_auto       1068 non-null   float64
 7   number_of_open_complaints  1068 non-null   float64
 8   policy_type                1068 non-null   object
 9   vehicle_class              1068 non-null   object
 10  total_claim_amount         1068 non-null   float64
dtypes: float64(5), object(6)
memory usage: 100.1+ KB

# Challenge 3: Analyzing Clean and Formatted Data

You have been tasked with analyzing the data to identify potential areas for improving customer retention and profitability. Your goal is to identify customers with a high policy claim amount and a low customer lifetime value.

In Pandas Lab, we only looked at high policy claim amounts because we couldn't look into low customer lifetime values. If we tried to do work with that column, we wouldn't have been able to do it because customer lifetime value wasn't clean and in its proper format. So after cleaning and formatting the data, lets get some more interesting insights!

Instructions:

- Review again the statistics for total claim amount and customer lifetime value to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount and a low customer lifetime value. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount, and clients with a low customer lifetime value to be those in the bottom 25% of the customer lifetime value. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile and a customer lifetime value in the bottom 25th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount and low customer lifetime value data. To do so, select both columns of the dataframe simultaneously and pass it to the .describe() method. This will give you descriptive statistics, such as mean, median, standard deviation, minimum and maximum values for both columns at the same time, allowing you to compare and analyze their characteristics.

In [19]:
# Your code here

df.describe()

,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,total_claim_amount
count,1068.000000,1068.000000,1068.000000,1068.000000,1068.000000
mean,7936.902593,39315.411985,192.691948,0.395131,405.870113
std,6434.784103,30484.373979,1603.241719,0.884764,292.917158
min,2004.350700,0.000000,61.000000,0.000000,0.382107
25%,4034.079950,14072.000000,68.000000,0.000000,204.071460
50%,5881.742350,36226.000000,82.500000,0.000000,355.200000
75%,8962.871975,64668.750000,109.250000,0.000000,532.800000
max,58166.553500,99960.000000,35354.000000,5.000000,2893.239678

In [20]:
dff = df[(df['total_claim_amount'] > df['total_claim_amount'].quantile(q=.75)) & (df['customer_lifetime_value'] < df['customer_lifetime_value'].quantile(q=.25))]

dff.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 40 entries, 17 to 1068
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customer                   40 non-null     object
 1   state                      40 non-null     object
 2   gender                     40 non-null     object
 3   education                  40 non-null     object
 4   customer_lifetime_value    40 non-null     float64
 5   income                     40 non-null     float64
 6   monthly_premium_auto       40 non-null     float64
 7   number_of_open_complaints  40 non-null     float64
 8   policy_type                40 non-null     object
 9   vehicle_class              40 non-null     object
 10  total_claim_amount         40 non-null     float64
dtypes: float64(5), object(6)
memory usage: 3.8+ KB

In [21]:
dff

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
17,OE15005,Cali,O,College,3945.2416,28855.0,101.0,0.0,Personal Auto,SUV,647.442031
23,TZ98966,Nevada,O,Bachelor,2450.1910,0.0,73.0,3.0,Corporate Auto,Four-Door Car,554.376763
26,US89481,California,O,Bachelor,3946.3721,0.0,111.0,0.0,Personal Auto,Four-Door Car,799.200000
38,CM61827,Oregon,O,Bachelor,3090.0341,0.0,90.0,0.0,Personal Auto,Two-Door Car,648.000000
42,IL19217,California,O,Bachelor,3939.0064,60021.0,99.0,0.0,Personal Auto,Four-Door Car,882.871945
62,FG63582,Oregon,O,Bachelor,3339.7649,0.0,94.0,0.0,Personal Auto,Two-Door Car,863.327324
135,MS41162,AZ,O,High School or Below,4022.9635,0.0,117.0,0.0,Personal Auto,SUV,975.107098
140,DS81757,Oregon,M,College,2470.1212,0.0,74.0,0.0,Personal Auto,Two-Door Car,721.242206
158,KA61892,Arizona,M,College,3873.6470,28142.0,105.0,0.0,Personal Auto,Sports Car,701.708239
160,ND87334,California,M,High School or Below,2287.5969,0.0,63.0,0.0,Corporate Auto,Two-Door Car,679.368378
170,TS19868,California,M,College,2413.1397,27501.0,63.0,0.0,Personal Auto,Four-Door Car,542.319401
184,AB13432,California,M,Bachelor,3735.8381,0.0,110.0,0.0,Personal Auto,SUV,792.000000
204,FL34139,California,M,High School or Below,3688.1109,0.0,63.0,3.0,Personal Auto,Four-Door Car,669.682001
250,IA63417,Arizona,F,High School or Below,4001.5191,19782.0,108.0,0.0,Personal Auto,Two-Door Car,773.470977
269,VZ51506,Arizona,F,High School or Below,3595.3129,0.0,103.0,0.0,Corporate Auto,Sports Car,741.600000
279,OH60605,Oregon,F,High School or Below,3652.5324,39679.0,92.0,0.0,Personal Auto,Two-Door Car,641.388616
304,RR77985,Oregon,F,Bachelor,2887.7423,0.0,80.0,0.0,Personal Auto,Four-Door Car,676.944023
388,JF36291,California,M,College,3873.6470,28142.0,105.0,0.0,Personal Auto,Sports Car,701.708239
415,ZF84449,Oregon,F,College,3726.7280,0.0,112.0,1.0,Special Auto,Sports Car,806.400000
448,NL93182,Nevada,M,Bachelor,2549.4500,0.0,78.0,0.0,Corporate Auto,Four-Door Car,845.654042
450,WE68644,Oregon,F,Bachelor,3803.9218,20325.0,100.0,0.0,Personal Auto,Sports Car,668.293970
467,AU96286,Oregon,F,Bachelor,3167.6584,0.0,92.0,0.0,Corporate Auto,Four-Door Car,662.400000
486,FY51713,AZ,F,Bachelor,3570.7605,56168.0,88.0,0.0,Personal Auto,Four-Door Car,614.675906
500,XN11823,Nevada,F,Bachelor,3764.4651,92600.0,94.0,0.0,Corporate Auto,Two-Door Car,842.437850
502,PX17116,Nevada,M,College,3623.4542,0.0,111.0,2.0,Corporate Auto,SUV,1171.931170
565,XS12556,California,F,College,3683.0999,0.0,101.0,0.0,Corporate Auto,Sports Car,564.466556
590,UK41984,Arizona,F,Doctor,3839.6061,0.0,112.0,2.0,Personal Auto,SUV,537.600000
593,ZK21724,Oregon,F,High School or Below,4016.5420,0.0,111.0,0.0,Personal Auto,SUV,799.200000
638,DM95829,California,M,College,2523.9596,16244.0,68.0,0.0,Personal Auto,Two-Door Car,623.223617
645,JA41698,Nevada,M,Bachelor,3099.5380,0.0,102.0,5.0,Corporate Auto,SUV,862.762957
669,ED50963,California,F,High School or Below,2688.8640,32808.0,68.0,1.0,Personal Auto,Four-Door Car,541.695658
709,NZ15548,Oregon,M,Bachelor,4023.8144,41833.0,103.0,0.0,Personal Auto,Four-Door Car,643.826716
788,TE13577,Oregon,F,College,2319.7359,0.0,64.0,0.0,Personal Auto,Four-Door Car,632.715382
853,TV25678,WA,M,College,3540.9043,0.0,101.0,0.0,Personal Auto,SUV,727.200000
891,KJ87930,Cali,F,Bachelor,3886.5048,0.0,112.0,0.0,Corporate Auto,SUV,1185.988301
908,XM72420,Arizona,F,High School or Below,3919.3667,66676.0,97.0,0.0,Personal Auto,Four-Door Car,558.099357
949,TD10493,Oregon,F,High School or Below,2898.7327,0.0,96.0,4.0,Personal Auto,Four-Door Car,691.200000
1019,OT52034,Cali,M,Bachelor,3864.7768,24204.0,99.0,1.0,Personal Auto,Four-Door Car,707.303416
1022,UI73201,Cali,M,College,3667.3750,62375.0,92.0,0.0,Personal Auto,Two-Door Car,618.630955
1068,GS98873,Arizona,F,Bachelor,3239.1247,16061.0,88.0,0.0,Personal Auto,Four-Door Car,633.600000

In [23]:
dff[['customer_lifetime_value', 'total_claim_amount']].describe()

       customer_lifetime_value  total_claim_amount
count                 40.00000           40.000000
mean                3415.77910          723.776577
std                  569.21472          149.280606
min                 2287.59690          537.600000
25%                 3042.20875          633.378846
50%                 3659.95370          685.284189
75%                 3873.64700          799.200000
max                 4023.81440         1185.988301