# Lab | Data Cleaning and Formatting

Objective: Apply Python programming to perform data cleaning and formatting, including identifying and handling with missing values, duplicates, outliers, errors, and using various formatting techniques such as changing data types, renaming columns, and handling string values, to prepare data for analysis.

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

# Challenge 1: Data Cleaning and Formatting

## Exercise 1: Cleaning Column Names

To ensure consistency and ease of use, standardize the column names of the dataframe. Start by taking a first look at the dataframe and identifying any column names that need to be modified. Use appropriate naming conventions and make sure that column names are descriptive and informative.

In [11]:
import pandas as pd

# Read the CSV file into a DataFrame
url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv"
df = pd.read_csv(url)

# Standardize the column names
df.columns = df.columns.str.lower()  # Convert all column names to lowercase
df.columns = df.columns.str.replace(" ", "_")  # Replace spaces with underscores

# Display the first few rows of the DataFrame to verify the changes
print(df.head())

  customer          st gender             education customer_lifetime_value  \
0  RB50392  Washington    NaN                Master                     NaN
1  QZ44356     Arizona      F              Bachelor              697953.59%
2  AI49188      Nevada      F              Bachelor             1288743.17%
3  WW63253  California      M              Bachelor              764586.18%
4  GA49547  Washington      M  High School or Below              536307.65%

    income  monthly_premium_auto number_of_open_complaints     policy_type  \
0      0.0                1000.0                    1/0/00   Personal Auto
1      0.0                  94.0                    1/0/00   Personal Auto
2  48767.0                 108.0                    1/0/00   Personal Auto
3      0.0                 106.0                    1/0/00  Corporate Auto
4  36357.0                  68.0                    1/0/00   Personal Auto

   vehicle_class  total_claim_amount
0  Four-Door Car            2.704934
1  Four-Door Car         1131.464935
2   Two-Door Car          566.472247
3            SUV          529.881344
4  Four-Door Car           17.269323

## Exercise 2: Cleaning invalid Values

The dataset contains columns with inconsistent and incorrect values that could affect the accuracy of our analysis. Therefore, we need to clean these columns to ensure that they contain only valid data. For example, the gender column contains various inconsistent values such as "F", "M", "Femal", "Male", "female", which need to be standardized.

Note that this exercise will focus only on cleaning inconsistent values and will not involve handling null values (NaN or None).

In [12]:
# Mapping dictionary to standardize gender values
gender_mapping = {
    "F": "Female",
    "M": "Male",
    "Female": "Female",
    "Male": "Male",
    "female": "Female",
}

# Clean the "gender" column using the mapping dictionary
df["gender"] = df["gender"].map(gender_mapping)

print(df.head())

  customer          st  gender             education customer_lifetime_value  \
0  RB50392  Washington     NaN                Master                     NaN
1  QZ44356     Arizona  Female              Bachelor              697953.59%
2  AI49188      Nevada  Female              Bachelor             1288743.17%
3  WW63253  California    Male              Bachelor              764586.18%
4  GA49547  Washington    Male  High School or Below              536307.65%

    income  monthly_premium_auto number_of_open_complaints     policy_type  \
0      0.0                1000.0                    1/0/00   Personal Auto
1      0.0                  94.0                    1/0/00   Personal Auto
2  48767.0                 108.0                    1/0/00   Personal Auto
3      0.0                 106.0                    1/0/00  Corporate Auto
4  36357.0                  68.0                    1/0/00   Personal Auto

   vehicle_class  total_claim_amount
0  Four-Door Car            2.704934
1  Four-Door Car         1131.464935
2   Two-Door Car          566.472247
3            SUV          529.881344
4  Four-Door Car           17.269323

## Exercise 3: Formatting data types

The data types of many columns in the dataset appear to be incorrect. This could impact the accuracy of our analysis. To ensure accurate analysis, we need to correct the data types of these columns. Please update the data types of the columns as appropriate.

It is important to note that this exercise does not involve handling null values (NaN or None).

In [13]:
# Correct the data types of the columns

# Column: customer_lifetime_value
df["customer_lifetime_value"] = pd.to_numeric(df['customer_lifetime_value'].str.rstrip('%').astype(float)/100)

df

,customer,st,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,Female,Bachelor,6979.5359,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,Female,Bachelor,12887.4317,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,Male,Bachelor,7645.8618,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,Male,High School or Below,5363.0765,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
4003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Exercise 4: Dealing with Null values

Identify any columns with null or missing values. Identify how many null values each column has. You can use the isnull() function in pandas to find columns with null values.

Decide on a strategy for handling the null values. There are several options, including:

- Drop the rows or columns with null values
- Fill the null values with a specific value (such as the column mean or median for numerical variables and mode for categorical variables)
- Fill the null values with the previous or next value in the column
- Fill the null values based on a more complex algorithm or model (we haven't studied this yet)

Implement your chosen strategy to handle the null values. You can use the fillna() function in pandas to fill null values or dropna() function to drop null values.

Verify that your strategy has successfully handled the null values. You can use the isnull() function again to check if there are still null values in the dataset.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling null values.

After formatting data types, as a last step, convert all the numeric variables to integers using applymap.

Save the cleaned dataset to a new CSV file.

In [14]:
# Identify columns with null values
columns_with_null = df.columns[df.isnull().any()]

# Count null values in each column
null_counts = df[columns_with_null].isnull().sum()
print("Columns with null values:")
print(null_counts)

Columns with null values:
customer                     2937
st                           2937
gender                       3071
education                    2937
customer_lifetime_value      2940
income                       2937
monthly_premium_auto         2937
number_of_open_complaints    2937
policy_type                  2937
vehicle_class                2937
total_claim_amount           2937
dtype: int64

In [15]:
# Fill numerical columns with mean
numerical_columns = df.select_dtypes(include='number').columns
df[numerical_columns] = df[numerical_columns].fillna(df[numerical_columns].mean())

# Fill categorical columns with mode
categorical_columns = df.select_dtypes(include='object').columns
df[categorical_columns] = df[categorical_columns].fillna(df[categorical_columns].mode().iloc[0])

# Check for null values after handling
print("Null values after handling:")
print(df.isnull().sum())

Null values after handling:
customer                     0
st                           0
gender                       0
education                    0
customer_lifetime_value      0
income                       0
monthly_premium_auto         0
number_of_open_complaints    0
policy_type                  0
vehicle_class                0
total_claim_amount           0
dtype: int64

In [16]:
# Fill NaN values with 0 before converting to integers
numeric_columns = df.select_dtypes(include=['float64']).columns
df[numeric_columns] = df[numeric_columns].fillna(0).astype(int)

# Display the data types of all columns after conversion
print(df.dtypes)

# If 'df' contains all the data after handling null values and formatting data types

# Function to convert a column to integer
def convert_to_integer(value):
    try:
        return int(value)
    except:
        return value

# Apply the function to all numeric columns
numeric_columns = df.select_dtypes(include='number').columns
df[numeric_columns] = df[numeric_columns].applymap(convert_to_integer)

# if 'df' contains all the data after handling null values and formatting data types

# Convert numeric columns to integers
numeric_columns = df.select_dtypes(include='number').columns
df[numeric_columns] = df[numeric_columns].astype(int)

# Check the data types after conversion
print("Data types after conversion:")
print(df.dtypes)

customer                     object
st                           object
gender                       object
education                    object
customer_lifetime_value       int32
income                        int32
monthly_premium_auto          int32
number_of_open_complaints    object
policy_type                  object
vehicle_class                object
total_claim_amount            int32
dtype: object
Data types after conversion:
customer                     object
st                           object
gender                       object
education                    object
customer_lifetime_value       int32
income                        int32
monthly_premium_auto          int32
number_of_open_complaints    object
policy_type                  object
vehicle_class                object
total_claim_amount            int32
dtype: object

## Exercise 5: Dealing with duplicates

Use the .duplicated() method to identify any duplicate rows in the dataframe.

Decide on a strategy for handling the duplicates. Options include:
- Dropping all duplicate rows
- Keeping only the first occurrence of each duplicated row
- Keeping only the last occurrence of each duplicated row
- Dropping duplicates based on a subset of columns
- Dropping duplicates based on a specific column

Implement your chosen strategy using the drop_duplicates() function.

Verify that your strategy has successfully handled the duplicates by checking for duplicates again using .duplicated().

Remember to document your process and explain your reasoning for choosing a particular strategy for handling duplicates.

Save the cleaned dataset to a new CSV file.

In [17]:
# Identify any duplicate rows in the DataFrame
duplicates = df.duplicated()

# Display the duplicate rows (if any)
print("Duplicate Rows:")
print(df[duplicates])

# Choose the strategy: Keeping only the first occurrence of each duplicated row
df_cleaned = df.drop_duplicates(keep='first')

# Verify that the strategy has handled the duplicates
duplicates_after_cleaning = df_cleaned.duplicated()
print("\nDuplicate Rows after cleaning:")
print(df_cleaned[duplicates_after_cleaning])

# Save the cleaned dataset to a new CSV file
df_cleaned.to_csv("cleaned_data.csv", index=False)

# Display the first few rows of the cleaned dataset
print("\nCleaned DataFrame:")
print(df_cleaned.head())

Duplicate Rows:
     customer      st  gender education  customer_lifetime_value  income  \
1072  AA71604  Oregon  Female  Bachelor                     7936   39295
1073  AA71604  Oregon  Female  Bachelor                     7936   39295
1074  AA71604  Oregon  Female  Bachelor                     7936   39295
1075  AA71604  Oregon  Female  Bachelor                     7936   39295
1076  AA71604  Oregon  Female  Bachelor                     7936   39295
...       ...     ...     ...       ...                      ...     ...
4003  AA71604  Oregon  Female  Bachelor                     7936   39295
4004  AA71604  Oregon  Female  Bachelor                     7936   39295
4005  AA71604  Oregon  Female  Bachelor                     7936   39295
4006  AA71604  Oregon  Female  Bachelor                     7936   39295
4007  AA71604  Oregon  Female  Bachelor                     7936   39295

      monthly_premium_auto number_of_open_complaints    policy_type  \
1072                   193                    1/0/00  Personal Auto
1073                   193                    1/0/00  Personal Auto
1074                   193                    1/0/00  Personal Auto
1075                   193                    1/0/00  Personal Auto
1076                   193                    1/0/00  Personal Auto
...                    ...                       ...            ...
4003                   193                    1/0/00  Personal Auto
4004                   193                    1/0/00  Personal Auto
4005                   193                    1/0/00  Personal Auto
4006                   193                    1/0/00  Personal Auto
4007                   193                    1/0/00  Personal Auto

      vehicle_class  total_claim_amount
1072  Four-Door Car                 404
1073  Four-Door Car                 404
1074  Four-Door Car                 404
1075  Four-Door Car                 404
1076  Four-Door Car                 404
...             ...                 ...
4003  Four-Door Car                 404
4004  Four-Door Car                 404
4005  Four-Door Car                 404
4006  Four-Door Car                 404
4007  Four-Door Car                 404

[2936 rows x 11 columns]

Duplicate Rows after cleaning:
Empty DataFrame
Columns: [customer, st, gender, education, customer_lifetime_value, income, monthly_premium_auto, number_of_open_complaints, policy_type, vehicle_class, total_claim_amount]
Index: []

Cleaned DataFrame:
  customer          st  gender             education  customer_lifetime_value  \
0  RB50392  Washington  Female                Master                     7936
1  QZ44356     Arizona  Female              Bachelor                     6979
2  AI49188      Nevada  Female              Bachelor                    12887
3  WW63253  California    Male              Bachelor                     7645
4  GA49547  Washington    Male  High School or Below                     5363

   income  monthly_premium_auto number_of_open_complaints     policy_type  \
0       0                  1000                    1/0/00   Personal Auto
1       0                    94                    1/0/00   Personal Auto
2   48767                   108                    1/0/00   Personal Auto
3       0                   106                    1/0/00  Corporate Auto
4   36357                    68                    1/0/00   Personal Auto

   vehicle_class  total_claim_amount
0  Four-Door Car                   2
1  Four-Door Car                1131
2   Two-Door Car                 566
3            SUV                 529
4  Four-Door Car                  17

# Challenge 2: creating functions on a separate `py` file

Put all the data cleaning and formatting steps into functions, and create a main function that performs all the cleaning and formatting. 

Write these functions in a separate .py file(s). By putting these steps into functions, we can make the code more modular and easier to maintain.

*Hint: autoreload module is a utility module in Python that allows you to automatically reload modules in the current session when changes are made to the source code. This can be useful in situations where you are actively developing code and want to see the effects of changes you make without having to constantly restart the Python interpreter or Jupyter Notebook kernel.*

In [18]:
#that's thefunctions
def lower_snake(df):

    df.columns = df.columns.str.lower()  # Convert all column names to lowercase
    df.columns = df.columns.str.replace(" ", "_")  # Replace spaces with underscores

    return df

# Challenge 3: Analyzing Clean and Formated Data

You have been tasked with analyzing the data to identify potential areas for improving customer retention and profitability. Your goal is to identify customers with a high policy claim amount and a low customer lifetime value.

In Pandas Lab, we only looked at high policy claim amounts because we couldn't look into low customer lifetime values. If we tried to do work with that column, we wouldn't have been able to do it because customer lifetime value wasn't clean and in its proper format. So after cleaning and formatting the data, lets get some more interesting insights!

Instructions:

- Review again the statistics for total claim amount and customer lifetime value to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount and a low customer lifetime value. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount, and clients with a low customer lifetime value to be those in the bottom 25% of the customer lifetime value. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile and a customer lifetime value in the bottom 25th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount and low customer lifetime value data. To do so, select both columns of the dataframe simultaneously and pass it to the .describe() method. This will give you descriptive statistics, such as mean, median, standard deviation, minimum and maximum values for both columns at the same time, allowing you to compare and analyze their characteristics.

In [19]:

# Review the statistics for total claim amount and customer lifetime value
# Using the .describe() method to get an overview of the data.

customer_data_statistics = df['total_claim_amount'].describe()
print(customer_data_statistics)

# Step 2: Calculate the 75th percentile for total claim amount
claim_amount_75th_percentile = df['total_claim_amount'].quantile(0.75)

# Step 3: Create a new DataFrame containing customers with high policy claim amount
high_claim_df = df[customer_data['total_claim_amount'] > claim_amount_75th_percentile]

# Step 4: Calculate summary statistics for the subset of data with high policy claim amount
high_claim_statistics = high_claim_df['total_claim_amount'].describe()
print(high_claim_statistics)

count    4008.000000
mean      404.141218
std       151.430161
min         0.000000
25%       404.000000
50%       404.000000
75%       404.000000
max      2893.000000
Name: total_claim_amount, dtype: float64

NameError: name 'customer_data' is not defined