In [1]:
### CHALLENGE 2


def rename_columns(df):
    new_col_names = [name.strip().lower().replace(' ', '_') for name in df.columns]
    df.columns = new_col_names

In [2]:
def clean_gender(df):
    df.replace(to_replace = ["M", "Male"],
                          value = "Male", inplace=True)
    df.replace(to_replace = ["female", "Femal", "F"],
                          value = "Female", inplace=True)
    data.replace(to_replace = ["nan"],
                          value = "no answer", inplace=True)

In [4]:
def reg_char(df):
    df = df.str.replace('%', '')

In [5]:
def type_change(df):
    df['Customer Lifetime Value'] = df['Customer Lifetime Value'].astype('float')

In [7]:
def null_values(df):
    null_cols = data.isnull().sum()
    null_cols[null_cols > 0]
    df =  df.dropna(inplace=True)

In [10]:
def cleaning(df):
    new_col_names = [name.strip().lower().replace(' ', '_') for name in df.columns]
    df.columns = new_col_names
    df.replace(to_replace = ["M", "Male"],
                          value = "Male", inplace=True)
    df.replace(to_replace = ["female", "Femal", "F"],
                          value = "Female", inplace=True)
    data.replace(to_replace = ["nan"],
                          value = "no answer", inplace=True)
    df = df.str.replace('%', '') 
    df['Customer Lifetime Value'] = df['Customer Lifetime Value'].astype('float')
    null_cols = data.isnull().sum()
    null_cols[null_cols > 0]
    df =  df.dropna(inplace=True)